[2017-11-21 12:25] maartenbusstra opened #3 "NonNegativeX -> UnsignedX"
Why call it `NonNegative`? Isn't "unsigned" the correct naming for these kinds of values, or am I missing something?

[2018-01-26 04:07] ccuilla commented on #3
@maartenbusstra @cfnelson captured my thinking on this well. It was about both clarity and consistency. I hope it not creating confusion for you or anyone else.

[2018-04-06 16:26] #3 closed

[2018-07-20 18:12] slorenzo opened #11 "Using DateTime scalar with a date-time string at UTC."
Hi there! First at all, thanks for this contribution! It's really helful.

I have used this library over Apollo Server and Mongoose as a ORM. At some point, Mongoose converts the date fields to `String` and the DateTime doesn't catch this. I spent some hours dealing with this issue.

After investigating different approaches to make this, I figure out that DateTime scalar [doesn't accept](https://g

[2018-07-20 19:52] ccuilla commented on #11
@slorenzo Thanks for bring this up. I'll need to look at it but probably won't have time until early/mid next week. If you'd like to submit a PR before then, we'd welcome the contribution.

[2018-07-27 18:31] ccuilla commented on #11
@slorenzo Check out version 0.4.1.

[2018-07-31 14:51] slorenzo commented on #11
It works using the new version. Thanks @ccuilla!

[2018-07-31 14:51] #11 closed

[2018-08-11 00:12] Saeris opened #13 "Update Documentation for Spread Syntax Option"
Hey there! Ran into this issue following the given documentation and the option to use the default export of the library in my resolver map using the spread operator. The problem is that if you do that, your GraphQL server will complain at you for having three missing scalar types: `UnsignedInt`, `UnsignedFloat` and `RegularExpression`. These need to be added to the list of scalars that need to be

[2018-08-27 21:02] Saeris opened #15 "Bug: URL Scalar doesn't support localhost, 0.0.0.0, etc"
As the title says, the URL scalar will return null for URLs that contain `localhost`, `127.0.0.1:8000` or whatever variant thereof. While this likely wouldn't be a problem for production environments, it breaks local development when referencing locally served assets. The only solution I've found is to revert back to using `String`.

[2018-08-28 15:48] RichardLitt commented on #15
That does sound like a bug. Want to add it to the other PR, or to make a new one?

[2018-08-31 14:35] ccuilla commented on #15
@Saeris Quick update. I've started by writing some tests for these cases, and it looks like `127.0.0.1` and `127.0.0.1:3000` (as well as `0.0.0.0` and `0.0.0.0:3000`) pass. But `localhost` definitely doesn't.

I will try _my_ regex skills on this. :-)

[2018-09-01 00:31] ccuilla commented on #15
@Saeris Fair enough on the bundle size point. I have a branch almost ready that fixes the localhost issue. But does not go further (e.g., data URIs). I'm open to another approach on this.

[2018-09-01 10:45] Saeris commented on #15
I decided what was best for me going forward was to just publish and maintain my fork separately, since I'd like to add new scalars as per my own project's needs. You can check out my implementation here:

https://github.com/Saeris/graphql-scalars

Feel free to use whatever you'd like!

[2018-09-01 14:44] ccuilla commented on #15
@Saeris That's totally cool! I'll check yours out from time-to-time. Thanks for the contribution and thanks for doing stuff that contributes back to the overall community! That's what we're all trying to do too.

[2018-09-01 23:43] Saeris commented on #15
Yes please do! Since publishing last night I've added another 10 scalars and I have more in mind. As a side note, I was able to fix the commented out tests for all the number scalars. Seems with the Joi validation they now properly throw.

[2018-09-18 10:42] igtm opened #17 "Scalar URL type doesn't support a lot of valid urls"
# What is the problem?
https://github.com/okgrow/graphql-scalars/blob/37ab0b82ae3810bf85a4a2dd60beb7883728d05b/src/URL.js#L6

I'd like to have image urls saved on S3 of which url should be like `https://s3.ap-northeast-1.amazonaws.com/hoge.fuga/foo.jpg`.
but got error like this

[code]
[reproduction](https://jsfiddle.net/igtm11/bcy8th7p/)

# How can it be solved?

- use [this](https://github.com/c

[2018-09-20 15:40] RichardLitt commented on #17
Thanks for logging. It does sound like a better URL library would help. Thanks for the PR.

[2018-09-21 01:00] #17 closed

[2018-09-21 12:33] ccuilla commented on #15
Fixed in v0.4.2

[2018-09-21 12:33] #15 closed

[2018-09-21 12:33] ccuilla commented on #13
Fixed in v0.4.2

[2018-09-21 12:33] #13 closed

[2018-12-10 04:49] vdiaz1130 opened #19 "Could not find a declaration file for module '@okgrow/graphql-scalars'."
Following steps in README gets me to a point where I get the following error

    [ts]
    Could not find a declaration file for module '@okgrow/graphql-scalars'.  '/Users/<user>/<appPath>/node_modules/@okgrow/graphql-scalars/index.js' implicitly has an 'any' type.
      Try `npm install @types/okgrow__graphql-scalars` if it exists or add a new declaration (.d.ts) file containing `declare module '

[2018-12-14 09:49] capaj opened #20 "when I have input object type error, path printed in the error message is undefined"
I got this error on our prod this week:

[code]
It works well for output objects and prints out the path in the object, but for input objects it prints undefined. Maybe just  omit it when it's undefined?

[2018-12-14 09:52] capaj commented on #20
oh this error is raised somewhere else-I'll open this up in some other repo then

[2018-12-14 09:52] #20 closed

[2018-12-17 10:38] vimutti77 opened #21 "How to custom error message of RegularExpression"
I want to change error message of my scalar created by RegularExpression. I want to hide the regex in my production. Can you provide the way to change it easily.

In example
[code]

[2018-12-20 15:49] RichardLitt commented on #21
Sounds like a PR which could be applied [here](https://github.com/okgrow/graphql-scalars/blob/master/src/RegularExpression.js#L5). @ccuilla Would this be interesting to add?

[2018-12-20 15:50] RichardLitt commented on #20
Thanks for following up, @capaj. :)

[2019-01-01 21:38] vkykv commented on #19
Looks like this project doesn't have type definitions.

I dropped this into my types folder (.d.ts) file as a quick fix

[code]

[2019-01-02 16:03] RichardLitt commented on #19
This might be worth adding. Am I right in thinking that there's no overhead to adding type definitions?

[2019-01-17 07:49] zefexdeveloper opened #25 "GraphQL 14 is released"
GraphQL 14 has been released but it's still asking for `"graphql": "^0.13.1"` in the peer dependencies

[2019-01-18 17:45] ccuilla commented on #25
We'll fix this in v0.4.3 coming shortly.

[2019-01-18 19:35] zefexdeveloper commented on #25
Thank you very much @ccuilla

[2019-01-18 20:03] ccuilla commented on #21
We'll fix this in v0.4.3 coming shortly.

[2019-01-19 01:46] ccuilla commented on #21
Added in v0.4.3.

[2019-01-19 01:46] #21 closed

[2019-01-19 01:46] ccuilla commented on #25
Updated in v0.4.3.

[2019-01-19 01:46] #25 closed

[2019-01-21 14:29] bebraw opened #27 "What's your workflow for checking urls exist?"
Do you have something external set up to make sure the urls actually exist? It's great to validate the shape but being able to tell they don't 404 would be better.

I imagine it's not that difficult to set up something to do this based on a schema. Just curious if you have solved this already somehow.

[2019-01-21 15:22] ccuilla commented on #27
Do you meaning checking the URL at runtime against a 404?

[2019-01-21 15:25] bebraw commented on #27
Yeah, something along the lines of that. I generate static sites from my
API so I guess I could try to do a check when building.

On Mon, Jan 21, 2019, 16:22 Christopher Cuilla <notifications@github.com
wrote:

[2019-01-21 15:31] ccuilla commented on #27
Okay. Hadn't considered doing that.

I'd welcome a PR to see what that might look like.

That said, I wonder if that idea steps outside the concept and philosophy of what GraphQL scalars are meant to be and do. I think they're primarily intended as _type_ and _format_ checking elements. So `URL` checks it to be a valid URL _format_ but not that it is an actual URL to a valid location. Same with th

[2019-02-01 01:14] B2o5T opened #29 "Probleme with Email scalar"
Hi there i am getting than error for this email - Value is not a valid email address: clautilde.obanga@sometransports.fr

[2019-02-08 19:30] ccuilla commented on #29
I'm looking into this. Obviously an issue with the regex we're using. If you happen to have a regex that you know does work, that would be great. Thanks.

[2019-02-08 21:09] #19 closed

[2019-02-08 21:44] ccuilla commented on #29
I have tested the regex we're using:

`^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$`

here: https://regex101.com/r/7ZYRPT/1/ and the email address matches.

I also added a quick test to the test suite for that email address and it passes.

Can you create a re-production for this?

[2019-02-08 22:10] B2o5T commented on #29
@ccuilla thanks, i found space character at the end

[2019-02-08 22:10] #29 closed

[2019-02-08 22:15] ccuilla commented on #27
@bebraw After further thought on this, I think that having the URL scalar actually check to see if the URL is a live URL isn't really an appropriate function for a scalar. The purpose of scalars is merely to enforce the "type-ness" of a field. Whether the content is valid (e.g., the email address is an _actual_ email address) is beyond the scope of what scalars should do.

Thanks for using the pac

[2019-02-08 22:15] #27 closed

[2019-02-08 22:58] bebraw commented on #27
Hi,

I agree. Likely the best place is actually a resolver or some other place.

On Fri, Feb 8, 2019, 23:15 Christopher Cuilla <notifications@github.com
wrote:

[2019-02-11 14:36] MHarmony opened #32 "Can't Build after update to v0.4.4"
After updating to v0.4.4 my angular project fails to build successfully. I am running node version 11.9.0, angular cli version 7.3.1, and typescript 3.2.4. My project builds fine if I rollback to v0.4.3.

The following errors are displayed:

[code]

[2019-02-12 16:27] ccuilla commented on #32
This should be fixed on v0.4.5.

[2019-02-12 16:27] #32 closed

[2019-02-22 04:12] m3hari opened #34 "MIME Type support"

[2019-04-15 04:10] mixalistzikas opened #35 "Big Int Support"
Do you support bigInt numbers? Are you planning for this feature?

[2019-05-21 17:27] pauldowman opened #37 "Maintainer wanted"
We're not able to maintain this any more. If you would like to maintain it please let me know.  But I don't want to just transfer it to someone random, to avoid another [event-stream incident](https://blog.npmjs.org/post/180565383195/details-about-the-event-stream-incident) (not that this package is anywhere near as widely used).

If you have been contributing to this package or have other good co

[2019-05-21 18:11] wlaaraki commented on #37
I would like to continue maintaining this package, we are using it in our e-commerce website

[2019-05-21 20:50] pauldowman commented on #37
Great, thanks @wlaaraki. I think you should fork it, and I will update the README to point to your fork.

[2019-06-11 09:56] Urigo commented on #37
Hi Everyone!

Thanks to the great leadership of @pauldowman , we've had a conversation and The Guild would take the work of maintaining of `merge-graphql-schemas` and `graphql-scalars`.

We will release a blog post soon with more details and a roadmap.

All the great words of appreciation I have to say to @pauldowman and the amazing team from ok-grow will be written in the blog post and referenced

[2019-06-11 09:56] #37 closed

[2019-06-11 09:58] Urigo commented on #37
@wlaaraki please reach out to me directly so we can have your changes released and merged even before we'll release the roadmap (my email is public on my Github profile)

[2019-06-17 13:04] schrapel opened #38 "EmailAddress does not work for nullable fields."
I get the error when my gql is `emailAddress: EmailAddress` without the `!` but surely it should ignore it but instead I get the error `Value is not a valid email address: `

[2019-06-20 20:26] ardatan commented on #38
If you don't use `!`, it means it can be `undefined` or `null`. But it must be a valid e-mail address if it is defined.

[2019-06-20 20:37] schrapel commented on #38
Null still returns an error saying it’s an invalid email address.

[2019-06-26 12:48] #38 closed

[2019-06-26 14:37] ardatan commented on #34
You can use `RegularExpression` scalar factory for your case. Please feel free to open a new issue if you have any problems.
https://github.com/Urigo/graphql-scalars#using-the-regularexpression-scalar

[2019-06-26 14:37] #34 closed

[2019-07-08 10:34] OliverCole opened #42 "Non-fully qualified URLs"
The current regex for URLs excludes examples without fully qualified hostnames - such as `http://server/dir`.

The regex author agreed in the gist, and in [the comments](https://gist.github.com/dperini/729294#gistcomment-2902311) that they are valid,  but that the code met the requirements (for a URL shortener).

Are we open to fixing this?

[2019-07-17 16:21] ardatan commented on #35
Available in 0.4.6

[2019-07-17 16:21] #35 closed

[2019-07-22 05:52] ardatan commented on #42
Are you sure if this kind of URL pattern violates this;
https://www.ietf.org/rfc/rfc3986.txt

[2019-07-22 08:35] OliverCole commented on #42
Are you asking whether `http://server/dir` meets RFC 3986? I think it does.

Page 20 says: `reg-name    = *( unreserved / pct-encoded / sub-delims )`

Or are you saying that the regex we have excludes valid RFC 3986 URIs? In which case I agree.

[2019-07-22 17:23] joeherold opened #44 "Update dependencies to pass npm audit, according to high risk issues"
![image](https://user-images.githubusercontent.com/3911545/61651457-35506f80-acb6-11e9-8de9-b79343484ac7.png)

[2019-07-29 12:37] hamuk opened #45 "big int typing error"
Hello!

I'm getting an error when including this module in my TypeScript project on build. The error is:
[code]
I'm using the newest version (0.4.6).

Cheers

[2019-07-30 22:24] ardatan commented on #42
@OliverCole Could you modify regex and submit a PR for this issue?

[2019-07-31 11:43] lookfirst commented on #44
Also...

[code]

[2019-07-31 11:44] joeherold commented on #44
I have no issues with peer dependencies

[2019-07-31 11:45] joeherold commented on #44
@lookfirst I switched to [@saeris/graphql-scalars](https://www.npmjs.com/package/@saeris/graphql-scalars)

[2019-07-31 12:03] lookfirst commented on #45
Here is how to shut typescript up...

![image](https://user-images.githubusercontent.com/85355/62210177-b64dec00-b3c5-11e9-8537-e9ff39fcd1e8.png)

Add to tsconfig:"compilerOptions"...

[code]

index.d.ts: `declare module 'graphql-bigint';`

[2019-07-31 12:16] lookfirst commented on #44
@joeherold No typescript and also looks dead now... https://github.com/Saeris/graphql-scalars/issues/23

[2019-07-31 18:37] Urigo commented on #44
@joeherold I'm sorry, we've just took over the library and I forgot to activate `renovatebot` on it.
I did it now, we will upgrade it all and release a new version in the next hour.

also @lookfirst , @ardatan will move `graphql-modules` to be a peer dependency before the new release.

@joeherold I'm sorry for the late reply, this is unusual for us (The Guild), we are doing daily status for all of

[2019-07-31 18:50] joeherold commented on #44
@the-guild-org no stress :-)

[2019-07-31 20:35] ardatan commented on #45
Fixed in 0.6.7!

[2019-07-31 20:35] #45 closed

[2019-07-31 20:35] ardatan commented on #44
Fixed in 0.6.7!

[2019-07-31 20:35] ardatan commented on #42
Fixed in 0.6.7!

[2019-07-31 20:35] #42 closed

[2019-07-31 20:58] ardatan commented on #44
Fixed in the latest version!

[2019-07-31 20:58] #44 closed

[2019-08-01 04:43] lookfirst opened #57 "Generate mocks"
I'm not sure how to do this, but it would be cool if this project had a way to automatically define mocks as well.

https://www.apollographql.com/docs/apollo-server/features/mocking/

[2019-08-01 13:40] ardatan commented on #57
It is not possible to make those scalars automatically mocked because default ones are defined hardcoded in that line
https://github.com/apollographql/graphql-tools/blob/b8307876e6b5410ce6b1f924d656f2b6624791f7/src/mock.ts#L52
But it is possible to export something like `mocks` to pass to ApolloServer or any other implementation that does mocking.

[2019-08-01 14:31] lookfirst commented on #57
Exporting something is fine.

[2019-08-01 14:32] lookfirst commented on #57
This might also be something you pass up to the Apollo people as a feature request. People should be able to build scalars that include their own mocks.

[2019-08-01 14:39] ardatan commented on #57
Until it gets released, you can use the following versions for mocking functions;
`0.4.8-f38f1db.0`
They're exported under the name `mocks`

[2019-08-04 06:00] lookfirst opened #61 "Timestamp"
I'm working with Firestore which has a Timestamp class. I ended up using that instead of putting Date.toISOString() everywhere.

Not sure if you want to add dependencies on outside projects so I'm doing this as an issue first vs. a PR ... here is my code...

[code]

[2019-08-05 05:35] ardatan commented on #61
We already have `DateTime` which applies most cases for timestamps, and `DateTime` accepts native `Date` instance, numbers and strings in a proper format. This looks `firebase`-specific in my opinion. What do you think? @Urigo

[2019-08-05 05:36] lookfirst commented on #61
It *is* firebase specific.

[2019-08-05 05:51] ardatan commented on #61
@lookfirst So `graphql-scalars` is a package that includes more generic scalars. It would be better to have this scalar implementation in another npm package under your name in my opinion.

[2019-08-05 05:51] #61 closed

[2019-08-05 08:21] jfcieslak opened #62 "URL scalar is not working in 0.4.7"
**steps to reproduce:**
use URL scalar in Schema, such as:
[code]
Define scalar:
[code]

Define resolvers:
[code]

**Only when making graphql query** that includes the field with type `URL`, I get the error response inside the graphql tracing:

[code]

- All is fine when queries do not include fields of type `URL`
- All other scalars from this package work just fine (`EmailAddress`, `DateTime`, et

[2019-08-05 08:36] ardatan commented on #62
`URL` should be globally defined but I added `URL` from `url` module just in case.

[2019-08-05 13:14] Urigo commented on #61
I mean, we can add a firebase-timestamp here if you think it would be valuable for more people

[2019-08-05 13:17] lookfirst commented on #61
Thanks @Urigo, don't worry about it. I was just seeing if you were interested. It is fine if not. I actually thought more about things and decided to store Date.toISOString() as a string in Firestore anyway. It just simplifies things.

[2019-08-06 00:32] williamkwao opened #64 "Convert Emails to lowercase in the EmailAddress custom type"
Since emails are not case sensitive, I was wondering if it will be good to convert emails to lowercase in the EmailAddress  parseValue and parseLiteral functions. This will be handy for saving the email addresses in databases without having to do any extra parsing. I can make a PR for this if you think this is a useful feature to add

[2019-08-06 04:15] ardatan commented on #64
@williamkwao I think the input should already be lowercased before sending to the server so that the database will keep those in valid format which will be sent by the server without any problems as well. So wouldn't it be better to keep this kind of validations on the client side?

[2019-08-06 09:27] jfcieslak commented on #62
Maybe; I am using this scalar in a Firebase Function project, and it runs on node 8. Interestingly, my own tests on that project are passing. So jest running its own test server have no issue with it.

[2019-08-06 10:43] ardatan commented on #62
I think Node 8 doesn't have global `URL`, but this case will be supported now in the next release.

[2019-08-07 05:45] williamkwao commented on #64
@ardatan I agree that this should be handled by the client but its good practice to handle it on both sides and not fully trust the client. I had to do this working on a recent project and thought it'll be nice if it was handled by the custom scalar.

[2019-08-08 12:12] Urigo commented on #64
@williamkwao everything you say is correct, but I believe `graphql-scalars` is about validating and not conversion...
And actually I'm not sure validating on the API level is the right place because I can think of some use cases where apps would want to send it not as lower case.

So my current thought is that you are right but this library is not the right place to take care of that.

But please

[2019-08-08 13:44] ardatan commented on #62
Available in 1.0.0!

[2019-08-08 13:44] #62 closed

[2019-08-08 13:44] ardatan commented on #57
Available in 1.0.0!

[2019-08-08 13:44] #57 closed

[2019-08-08 14:26] Urigo commented on #64
I thought about it more and I'm starting to doubt myself...
I hope to get more feedback

[2019-08-09 08:11] lookfirst commented on #57
Beautiful

[2019-08-09 08:12] lookfirst commented on #64
Don't mutate my data unless I ask for it please. Principle of least surprises.

[2019-08-09 08:15] lookfirst opened #65 "tslint error"
Latest version...

[code]

[2019-08-09 19:51] Thebigbignooby opened #66 "PostalCode"
Hi, quick question,
How do you verify they postal code? Does it take into account non-American postal codes?

Same question for phonenumber

[2019-08-09 20:13] ardatan commented on #66
You can check the source code and see that we use regular expressions to verify American and some non-American postal codes.
About phone numbers, we use a generic regular expression that validates the string according to the E.164 format.

[2019-08-09 20:13] #66 closed

[2019-08-11 12:08] Urigo commented on #64
very true @lookfirst !

[2019-08-11 12:08] #64 closed

[2019-08-12 05:38] ardatan commented on #65
Could you try with the following canary version?
[code]

[2019-08-12 06:09] lookfirst commented on #65
Shouldn't this be in your bundle test?

[2019-08-12 07:49] dikatok opened #69 "Duplicate schema type name NonNegativeFloat in Resolver"
Hi, I am using v1.0.0 and caught this error using a simple apollo server.

**Libs**
[code]

**Server**
[code]

**Error**
[code]

After investigating it, I found that there are 2 resolver definitions that share the same name `NonNegativeFloat`.

[code]

**EDIT:** Also happens with UnsignedInt, NonNegativeInt, BitInt, and Long.

Do I miss something else in my configuration?

[2019-08-12 08:38] ardatan commented on #65
The idea behind having this `bundle-test` is to check the size of this package inside a project. But we can add this kind of a test to have strict type checking for the library in point of another project. I'll take care of it. In addition, could you confirm it works for you?

[2019-08-12 09:09] lookfirst commented on #65
I'll confirm it after you confirm it works on CI. ;-)

[2019-08-12 11:53] ardatan commented on #65
@lookfirst You can create a PR to have this kind of test on CI.

[2019-08-12 12:09] lookfirst commented on #65
![Aug-12-2019 19-08-40](https://user-images.githubusercontent.com/85355/62863992-abd01280-bd34-11e9-8b22-fd4cd87c80a9.gif)

[2019-08-15 21:35] flasd commented on #69
I found three problems in the resolves: `UnsignedFloat`, `UnsignedInt` and `BigInt` have duplicate declarations.

Workaround:

[code]

delete module.exports.UnsignedFloat;
delete module.exports.UnsignedInt;
delete module.exports.BigInt;

And comment out the schema declarations

[code]

[2019-08-20 04:21] ardatan commented on #69
I tried to create a reproduction test which passes without any problems.
https://github.com/Urigo/graphql-scalars/blob/82617d208f43cde1abf68e687fb16107d090b222/tests/reproduction-69.test.ts

[2019-08-21 00:24] #65 closed

[2019-08-21 00:24] #69 closed

[2019-08-21 02:32] lookfirst commented on #65
fixed

[2019-08-21 21:33] jfcieslak commented on #62
So the issue still persists, this time with typescript declaration:
[code]
Importing module in mocks.d.ts seems to fix it:
[code]

[2019-08-22 04:10] ardatan commented on #62
@jfcieslak Could you add `dom` to `lib` field in `tsconfig.json`? Because `URL` is in `global` of NodeJS like browser.
[code]

[2019-08-22 07:24] jfcieslak commented on #62
That did the trick, thanks!

[2019-08-26 17:18] Urigo commented on #69
@dikatok @flasd if that still doesn't work for you, can you create a reproduction?

[2019-08-29 04:02] ardatan commented on #69
@flasd This reproduction works without any errors. It's based on the code you sent
https://github.com/ardatan/graphql-scalars-flasd-issue-reprod

[2019-08-31 04:49] dikatok commented on #69
@ardatan sorry for the late reply

confirmed working with no issue by casting to any, thanks :)

[2019-08-31 08:28] ardatan commented on #69
You can see my example that uses that version.

[2019-09-03 15:13] ravangen opened #90 "Modularize scalars"
A possible future improvement would be to enable cherry picking specific scalars to import. This could be similar to`lodash` which publishes both the complete package and per method packages.

Having this library is great for standardization across the community, but some scalars are more niche and something I would prefer to be able to exclude if possible.

[code]

[2019-09-03 17:28] ardatan commented on #90
We already have this. You need to import ‘SomeDefinition’ and ‘SomeResolver’ for example.

[2019-09-03 17:56] ravangen commented on #90
I was meaning separate NPM packages. For example, there is [`lodash`](https://www.npmjs.com/package/lodash) and [`lodash.merge`](https://www.npmjs.com/package/lodash.merge). I am aware I don't need to import everything from the `graphql-scalars` module.

I thought it could be a nice to have feature request, obviously not critical. This "issue" can stay closed regardless. Seemingly this package wil

[2019-09-03 18:25] ardatan commented on #90
@ravangen We can keep it open :) Sorry for misunderstanding. That would be a nice feature

[2019-09-04 21:48] httpiago commented on #90
You don't need to separate into multiple packages, it's unnecessary complexity for the maintainer, just separating into [subfolders](https://nodejs.org/api/modules.html#modules_loading_from_node_modules_folders) solves the problem:

[code]

[2019-09-09 07:55] ardatan commented on #90
@ravangen @httpiago This package is already tree-shakable so is it a specific reason for this?

[2019-09-09 15:32] ravangen commented on #90
We can close this, I don't think it is worth any extra process overhead on the maintainers.

I had been using `lodash` the other day and had simply thought that their option to use separate micro packages was a nice feature. 90% of these scalars don't apply to my current uses cases.

[2019-09-09 15:32] #90 closed

[2019-09-17 12:53] carlovanti opened #101 "How to use with NestJS - code first approach"
Hi, I'm using [NestJS (code first approach)](https://docs.nestjs.com/graphql/scalars) to build my GraphQL server application.
The problem is that I don't know exactly how to use these scalars with that approach.
Do you have any suggestions?

[2019-09-17 13:27] ardatan commented on #101
I think you should add our scalars in schema-first approach :)

[2019-09-17 13:27] #101 closed

[2019-09-24 01:17] gedennis opened #104 "TSLint error with JSONObject"
Sorry to meet this issue, when I use JSONObject schema. Other scalars are okay.
[code]
schema
[code]
Resolvers
[code]

[2019-09-24 10:36] lookfirst opened #105 "[feature] Easy integration with typegraphql"
https://typegraphql.ml/docs/scalars.html#custom-scalars

It would be great to somehow automatically populate the scalarsMap. =)

[2019-09-26 05:46] ardatan commented on #104
@gedennis Thank you! Could you try with the following canary version?
`1.0.2-61a23e8.0`

[2019-09-26 06:12] gedennis commented on #104
@ardatan Definitely. I will try it with the new version. Thanks for your update.

[2019-09-26 06:19] gedennis commented on #104
@ardatan It seems OK now. Could you like to release it to NPM ASAP?

[2019-09-26 06:56] ardatan commented on #105
I am not aware of TypeGraphQL. PRs are welcome :)

[2019-09-29 12:20] galkin commented on #105
**TL;DR** this issue should be closed

## Details
This package similar to [graphql-iso-date](https://www.npmjs.com/package/graphql-iso-date), [graphql-type-json](https://www.npmjs.com/package/graphql-type-json) is ready for using with `type-graphql`.

There are two cases:
#### 1. Developer explicitly writes type at the type-graphql decorator.
Example:
[code]
This code works, so any actions require

[2019-09-29 14:37] #105 closed

[2019-09-29 14:38] lookfirst commented on #105
All I was really asking for was a scalarsMap builder, but shrug...

[2019-09-29 15:04] galkin opened #109 "[Bug] TS2304: Cannot find name 'URL'"
[code]

At application level, it can be fixed by
1) adding `dom` to `compilerOptions.lib` array
2) copy pasting URL from typescript/lib/lib.dom.d.ts

Could you fix this bug on package level?

[2019-09-29 15:18] galkin opened #110 "[Question] about naming"
Why we use:
[code]
instead
[code]

Can we have both?

[2019-09-29 22:09] ardatan commented on #110
@galkin Why do you need that? It's just confusing to have only `EmailAddress`, but we have different names for `resolver` and `typeDefinition` which is more clear.

[2019-10-01 06:23] ardatan commented on #109
Available in 1.0.2!

[2019-10-01 06:23] #109 closed

[2019-10-01 06:23] ardatan commented on #104
Available in 1.0.2!

[2019-10-01 06:23] #104 closed

[2019-10-01 08:09] galkin opened #112 "[Bug] error TS7016: Could not find a declaration file for module 'graphql-type-json'"
[code]

At application level, it can be fixed by `npm install -D @types/graphql-type-json`
This package has defenition for that https://github.com/Urigo/graphql-scalars/blob/master/types/graphql-type-json.d.ts

Could you fix?

[2019-10-01 08:10] galkin commented on #109
@ardatan, thank you for fast fix. Could you check related regressionbug https://github.com/Urigo/graphql-scalars/issues/112 ?

[2019-10-01 08:13] galkin commented on #110
@ardatan, thank you.

[2019-10-01 08:13] #110 closed

[2019-10-04 18:05] ardatan commented on #112
@galkin You can try with canary version `1.0.3-ed42054.0 `.

[2019-10-04 21:38] galkin commented on #112
@ardatan, i tested 1.0.3-ed42054.0 It works as expected.
Maybe, it's good idea mark 1.0.2 as [deprecated](https://docs.npmjs.com/cli/deprecate) because of this bug.

Anyway could you publish new version?

[2019-10-11 20:10] dhritzkiv opened #124 "PhoneNumber doesn't support many valid E164 numbers"
For example:

- Singapore phone numbers are formatted as `+6569701665` (that's 10 numeric characters).
- Solomon Islands, the number `+67734700` is 8 numeric characters long.
- In Niue, `+6834999`, at 7 numeric characters

The regex used in this library, `/^\+\d{11,15}$/`, doesn't satisfy these numbers. The quickest solution would be to change to regex to `/^\+\d{7,15}$/` or more simply `/^\+\d{1,

[2019-10-12 13:44] robbertkl opened #125 "Duplicate type names for aliased types"
Perhaps this issue is related to me using graphql-modules, but I'm getting errors for each of the aliased types (`UnsignedInt`, `UnsignedFloat`, `Long`) when importing all the types into my `GraphQLModule`:

[code]

They're exported as aliases here:

https://github.com/Urigo/graphql-scalars/blob/9ae9e8932f267028ceea52f71dd51c1ccc607799/src/resolvers/index.ts#L34

But they still have an explicitly

[2019-10-16 01:42] ardatan commented on #125
@robbertkl Could you share a reproduction repo to see the exact scenerio?

[2019-10-16 01:48] ardatan commented on #124
`libphonenumber` is pretty big for a one scalar. Regular Expression seems more optimized solution. I changed it to `/^\+?[1-9]\d{1,14}$/` which fits all three examples of yours.

[2019-10-16 01:56] dhritzkiv commented on #124
@ardatan I think that's totally fair.

[2019-10-16 01:57] ardatan commented on #124
Could you confirm with the alpha version?
`1.0.3-27dc195.0`

[2019-10-16 02:01] dhritzkiv commented on #124
I won't be able to get to this until tomorrow at the earliest.

But from what I can tell, it looks good! Especially since the (new) tests pass.

[2019-10-17 20:39] robbertkl commented on #125
Minimal reproduction code isn't that large, so I'll just put it here:

[code]

The reason I'm using ApolloServer `schema` instead of `modules` is: https://github.com/Urigo/graphql-modules/issues/628

[2019-10-22 04:12] ardatan commented on #125
@robbertkl Could you test it with the canary version?
`1.0.3-8bbccd5.0`

[2019-10-22 13:01] JimishF opened #131 "Does not accept valid emails without a dot"
Please update the regex for email.

Accordnig to this [https://en.wikipedia.org/wiki/Email_address#Examples](https://en.wikipedia.org/wiki/Email_address#Examples),
 `name@mailserver` should be accepted as a valid email address.
`<input type="email" />` also allows such emails.

[2019-10-22 13:13] ardatan commented on #131
@JimishF Could you try it with the canary version?
`1.0.3-0562dd0.0`

[2019-10-22 13:20] JimishF commented on #131
okay cheking.

[2019-10-22 13:40] JimishF commented on #131
Its working fine in canary. Thanks. Waiting for the release.

[2019-10-22 13:40] ardatan commented on #131
@JimishF Let's keep it open until we release it :)

[2019-10-22 13:41] JimishF commented on #131
Okay :)

[2019-10-23 20:56] ardatan commented on #131
Available in v1.0.3!

[2019-10-23 20:56] #131 closed

[2019-10-23 20:57] ardatan commented on #125
Available in v1.0.3!

[2019-10-23 20:57] #125 closed

[2019-10-23 20:57] ardatan commented on #112
Available in v1.0.3!

[2019-10-23 20:57] #112 closed

[2019-10-23 20:57] ardatan commented on #124
Available in v1.0.3!

[2019-10-23 20:57] #124 closed

[2019-10-23 20:59] robbertkl commented on #125
Sorry, did not have a chance to test it yet. Great it's already released. Thanks @ardatan !

[2019-10-23 23:05] SamMcKay opened #135 "Can't load the package."
I can't load the package.  I receive the following error using v1.0.3.

const scalars = require('graphql-scalars');

ReferenceError: BigInt is not defined

Works as advertised for v1.0.2

[2019-10-23 23:37] ardatan commented on #135
@SamMcKay Could you try with the following canary version?
`1.0.4-dc0dc05.0`
By the way, what version of Node are you using?

[2019-10-24 00:10] ardatan commented on #135
Fixed in 1.0.4!

[2019-10-24 00:10] #135 closed

[2019-11-20 08:05] Ragyal opened #156 "[BUG] ReferenceError: URL is not defined with Node v8.16.0"
URL is not working with Node 8 with Versions newer than v1.0.1.
Running code with v1.0.4 and Node 8 results in:
```ReferenceError: URL is not defined```

Using Node 12 is possible. Do you deliberately not support Node 8?

[2019-11-21 16:21] cedric25 opened #158 "Use with apollo-server-express and CommonJS"
Not really an issue but simply to show what I had to do to make it work with apollo-server-express and CommonJS imports. (Only Apollo Server and ES6 imports in README so far)

In my `typeDefs` and `resolvers`:
[code]

Just if someone gets here with the same context... 👍

[2019-12-01 18:07] blacksmoke26 opened #165 "[Request] Please add new scalar types"
I would like to make a request for new types:

1. Date (Date only)
2. Time (Time only)
3. Timestamp (Not required but nice to have)

Thank You!

[2019-12-01 18:09] blacksmoke26 commented on #165
For more info, Please check the following package:

https://github.com/excitement-engineer/graphql-iso-date

[2019-12-01 20:14] ardatan commented on #165
@blacksmoke26 Great idea! PRs are welcome :)

[2019-12-06 23:28] kolegm opened #167 "Misunderstanding with Hexadecimal scalar type"
As expected, [hexadecimal](https://github.com/Urigo/graphql-scalars#hexadecimal) must be able to use.

But, Unknown type "Hexadecimal". It is not exported from the package.

Please, help me to understand is this a bug or was it specifically missed??

[2019-12-06 23:38] ardatan commented on #167
Could you share more details like how you import the library and use in your existing project?

[2019-12-07 00:25] kolegm commented on #167
Well, I'll try to show my case:

At **typeDefs** used:

`
import` { typeDefs as externalScalars } from 'graphql-scalars';
import types from './types';
import queries from './queries';
import inputs from './inputs';
import mutations from './mutations';

const linkSchema = gql\`
  type Query {
    _: Boolean
  }
  type Mutation {
    _: Boolean
  }
`;

export default [
  linkSchema,
  ...externalSca

[2019-12-07 01:56] ardatan commented on #167
@kolegm That's our bug. `Hexadecimal` type definition is missing. So you can add `scalar Hexadecimal` in your code to make it work until it gets fixed.

[2019-12-09 08:54] benliu723 opened #169 "Value is not a valid Date format (YYYY-MM-DDTHH:MM:SS.SSSZ): 2007-12-03T10:15:30Z"
From my understanding, 2007-12-03T10:15:30Z is also a datetime format, however, this doesn't allow by using graphql-scalars.

because,

![image](https://user-images.githubusercontent.com/1772367/70421324-94b3ee00-1aa4-11ea-9b7c-d8a7c6e8524c.png)

Hope this can be solved.

[2019-12-14 21:59] ardatan commented on #156
Could you try with the following version?
`1.0.5-b0b7e22.0`

[2019-12-15 00:46] Ragyal commented on #156
@ardatan Nothing changed. Node 8 is still throwing an error and Node 12 is working fine.

[2019-12-15 02:22] ardatan commented on #156
@Ragyal Could you share whole stack trace? Because tests are passing in Node 8.16.0.

[2019-12-16 07:57] Ragyal commented on #156
[code]

[2019-12-16 08:08] ardatan commented on #156
@Ragyal It looks the error has been thrown inside your `index.ts`. Is there any chance to create a reproduction repo to see it better?

[2019-12-16 08:35] Ragyal commented on #156
@ardatan i am going to prepare a repo for you when i am back home today

[2019-12-16 23:22] Ragyal commented on #156
Ok, it seems like v1.0.1 was hiding another problem in our codebase which has been revealed by v1.0.4.
See https://github.com/Ragyal/graphql-scalars-repro-repo

Using URLResolver with v1.0.1 'saved' us from named ReferenceError, since we used URL without importing it. With v1.0.4 URLResolver has changed and could not fix our mistake anymore. Making our own code not backward compatible for Node v8.

[2019-12-17 02:08] ardatan commented on #156
https://github.com/Ragyal/graphql-scalars-repro-repo/blob/b35dd4082127d3c7bce35a72dba4cbd64e2d8dd5/src/index.ts#L23
In here you need to import URL from url package if you want to use it.
Add `import { URL } from 'url';` and it would be fixed. As you can see in the error, the error comes from this line not `graphql-scalars`.

[2019-12-17 05:53] #156 closed

[2019-12-27 01:38] heavencyj opened #189 "Cannot use NonNegative* types"
I couldn't start my server after adding NonNegativeInt. Digged around a bit and found the issue:

https://github.com/Urigo/graphql-scalars/blob/master/src/resolvers/index.ts#L34
Seems like a typo here. Should be "NonNegativeInt".

I am using UnsignedInt but figure I should report this.

[2019-12-28 00:44] Urigo commented on #158
@cedric25 maybe it's worth create a PR with an example or something that mention it in the README?

[2019-12-30 15:18] ardatan commented on #158
Added with PR #192 thanks to @cedric25 :)

[2019-12-30 15:18] #158 closed

[2019-12-30 15:27] ardatan commented on #189
Available in 1.0.5 :)

[2019-12-30 15:27] #189 closed

[2019-12-30 15:27] ardatan commented on #169
Available in 1.0.5!

[2019-12-30 15:27] #169 closed

[2019-12-30 15:28] ardatan commented on #167
Available in 1.0.5!

[2019-12-30 15:28] #167 closed

[2020-01-03 16:24] heavencyj opened #194 "UnsignedFloat throw error for Int value"
I am using UnsignedFloat scalar but it's throwing error when I pass an int value. is that intended? I cannot create my own union input type with both UnsignedInt and UnsignedFloat. And I checked
https://github.com/graphql/graphql-js/blob/master/src/type/scalars.js#L118 that they validate with both Float and Int when validate for Float.

[2020-01-03 16:29] ardatan commented on #194
@heavencyj You might be passing string or something else. Could you share a reproduction repo?

[2020-01-03 17:13] heavencyj commented on #194
I am passing in an int.
https://github.com/Urigo/graphql-scalars/blob/master/src/resolvers/NonNegativeFloat.ts#L22 only checks kind.Float so it will throw error on kind.Int. Whereas the graphql repo checks both type when validating Float. It should be reproducible easily.

[2020-01-03 18:29] heavencyj commented on #194
to your point, i did send the param in as a string. but should it error out though? it just seems inconsistent from the `Float` type behavior in graphql.

[2020-01-05 08:42] ardatan commented on #194
@heavencyj You're right. I updated the condition in Float types. You can try it with the canary version.
`1.0.6-0fbf191.0`

[2020-01-06 00:19] ardatan commented on #194
Fixed in 1.0.6!

[2020-01-06 00:19] #194 closed

[2020-01-08 15:04] schmod opened #199 "Integers are not validated when used as input types"
If I use any of the `Integer` scalar types as a part of an input type (ie. `PositiveInteger`), I'm able to pass in floating-point values (such as `5.5`) without encountering an error.

I believe these two lines may need to be flipped, as `parseInt` is rather permissive with the inputs that it will accept:
https://github.com/Urigo/graphql-scalars/blob/master/src/resolvers/utilities.ts#L97-L98

For

[2020-01-16 04:13] newbie007fx opened #203 "non mandatory URL throw an error when it not set"
i have a graphql with the following schema:
[code]
but when i send query without set the non mandatory URL, its give me an error.

[code]
the response:
[code]

[2020-01-16 04:30] ardatan commented on #203
@newbie007fx The error is thrown from `serialize`. That means it is coming from a field resolver not an input type.
As I see in the error, the issue is in `Query.createProduct.googlePlayLink`.
`Query.createProduct` is defined as `Product`, then that means `googlePlayLink` belongs to `Product` and `Product.googlePlayLink` is `URL!` which is mandatory :)
But this is not the case because the error is

[2020-01-16 04:44] newbie007fx commented on #203
oh... i see. thank you @ardatan for helping

[2020-01-16 04:44] #203 closed

[2020-01-23 20:02] konsumer commented on #165
Would it be acceptable to just import graphql-iso-date in this lib and expose it's scalars?

[2020-01-25 00:45] Gregory-Canonne opened #212 "What the scalar type for Array ?"
What the scalar type for Array ?

[2020-01-25 11:56] ardatan commented on #212
@Gregory-Canonne Could you give more details? Are you looking for a scalar type for arrays?

[2020-01-25 12:40] Gregory-Canonne commented on #212
Yes, for arrays
Thank you

[2020-01-25 15:23] ardatan commented on #212
@Gregory-Canonne There is no special scalar for arrays. They are called `list` in GraphQL.
https://graphql.org/learn/schema/#lists-and-non-null
See here for details

[2020-01-25 15:23] #212 closed

[2020-01-25 19:44] ardatan commented on #165
@konsumer If that package is treeshakable, it would be fine.

[2020-02-06 03:41] jpulec opened #223 "Email Regex Doesn't Support RFC 6531"
The current Regex for Emails doesn't work any email that has a local part above the 7 bit ASCII table, such as accented characters and Unicode. [RCF 6531](https://tools.ietf.org/html/rfc6531) provides a standard for handling these email addresses.

[2020-02-06 13:14] ardatan commented on #223
@jpulec Our Email Address scalar follows W3 standards;
https://github.com/Urigo/graphql-scalars/blob/dcfdeaf1247d30091360b392544252bdd8740084/src/resolvers/EmailAddress.ts#L15

If you want to implement one more specialized, you can use `RegularExpression` factory for your custom scalars.

[2020-02-06 13:14] #223 closed

[2020-02-06 13:26] ardatan commented on #199
@schmod As I see in GraphQLJS implementation, they use `parseInt` before validating the value in `parseLiteral.
https://github.com/graphql/graphql-js/blob/791be1ae07457701818a5c89dca708053224e897/src/type/scalars.js#L77

[2020-02-06 13:27] ardatan commented on #199
@schmod `parseInt` is used in `parseLiteral` for input types as I see in GraphQLJS.
https://github.com/graphql/graphql-js/blob/791be1ae07457701818a5c89dca708053224e897/src/type/scalars.js#L77
So values are coerced to integer in that case.

[2020-02-14 08:55] aimproxy opened #232 "Example for Apollo Federation"
Hi, Im new to Apollo, and in my Accounts Service I use Apollo Federation, the thing is typeDefs in buildFederatedSchema expects a DocumentNode and makeExecutableSchema expects a GraphQLSchema, so thats invalidate the provided example. So, anyone can provide an example for this?

[2020-03-03 12:51] annymosse opened #248 "[Feature Request] Add file/binary scalar type"
hopefully there's an ability to add File or Binary scalar

[2020-03-04 08:41] ardatan commented on #248
PRs are welcome!

[2020-03-04 08:45] ardatan commented on #232
`typeDefs` in `buildFederatedSchema` and `typeDefs` in `makeExecutableSchema` are similar. I don't think we need any specific example for Apollo Federation.
[code]

[2020-03-04 08:45] #232 closed

[2020-03-12 18:49] ncioj10 opened #253 "BigInt not serializing"
Hi,
unfortunately the BigInt does not seem to work at the moment.
With Node v12.16.1 I get the error.
`"TypeError: Do not know how to serialize a BigInt",
              "    at JSON.stringify (<anonymous>)",
              "    at prettyJSONStringify (/node_modules/apollo-server-core/src/runHttpQuery.ts:457:15)",
              "    at /node_modules/apollo-server-core/src/runHttpQuery.ts:330:16",

[2020-03-24 09:39] ardatan commented on #253
Fixed in 1.0.8!

[2020-03-24 09:39] #253 closed

[2020-03-24 10:42] moritzjacobs commented on #61
Thank you, @lookfirst – you just saved me tons of time!

[2020-04-08 12:14] antogyn opened #283 "IBAN validation ignores non alphanumeric characters"
Hey,

Because of this code:

https://github.com/Urigo/graphql-scalars/blob/fb7cb490cd789d3923902e2362aabd816dd73ff7/src/resolvers/IBAN.ts#L207-L209

Non alphanumeric characters aren't validated, e.g. IBANs like `AL35  202$,;?111090000000001234567` pass validation and are returned as is.

I'd be ok to send a PR, but a fix would be a breaking change, so ignoring alphanumeric characters should probab

[2020-04-09 09:25] Urigo commented on #283
thank you @antogyn
We would love to get a PR that validates it.

If it's a broken behavior, fixing it doesn't consider a breaking change in terms of semver in my opinion..

[2020-04-17 05:15] mobsean opened #297 "Breaking changes from 1.0.6 to 1.0.7/ or 1.1.0???"
Hi,

I´m using Version 1.0.6 in an exisiting project.
Today I updated with npm update and **I get this error with Version 1.0.7:**

[code]

Can someone please help me?

[2020-04-17 08:33] ardatan commented on #297
What NodeJS version are you using?

[2020-04-17 12:07] mobsean commented on #297
node --version
v8.11.4

[2020-04-17 13:10] ardatan commented on #297
Feel free to open a new issue if your problem persists

[2020-04-17 13:10] #297 closed

[2020-04-20 07:28] mobsean commented on #297
node -v
v12.16.2

problem solved! thanks!

[2020-04-26 17:15] 3logy opened #310 "GUID Scalar regex doesnt work properly"
I have a valid GUID: 38336562-3634-6431-2d39-3264302d3400 (tested on http://guid.us/Test/GUID)

when i try to send this query with accountId define as a scalar GUID
`query {
  account(accountId: "38336562-3634-6431-2d39-3264302d3400") {
  	email
  }
}`

I have a the following error : **Value is not a valid GUID**

[2020-04-26 17:50] ardatan commented on #310
Could you try with the following canary version?
`1.1.3-060e256.0`

[2020-05-12 20:30] kanstantsin-chernik opened #326 "Void scalar type"
Hi. Could you please add `Void` scalar type.

https://stackoverflow.com/questions/44737043/is-it-possible-to-not-return-any-data-when-using-a-graphql-mutation

[2020-05-14 19:17] #310 closed

[2020-05-25 12:31] DoctorVoid commented on #101
Here is my workaround:

`import { PhoneNumberResolver } from 'graphql-scalars';`

and then use it in your field definition like this:
`@Field(()=> PhoneNumberResolver, {nullable: true})
  phoneNumber?: any`

Still looking for a way to safe-type it instead of using any

[2020-05-25 13:21] ardatan commented on #101
`string`?

[2020-05-25 20:29] ardatan commented on #326
Available in v1.1.3

[2020-05-25 20:29] #326 closed

[2020-05-25 20:29] ardatan commented on #283
Available in v1.1.3

[2020-05-25 20:29] #283 closed

[2020-05-25 20:32] #199 closed

[2020-05-26 19:10] cerino-ligutom opened #342 "[Bug] TS2304: Cannot find name 'URL' when building TS Project using tsc command"
Getting the same problem from issue #109 when I run the `tsc` command to build my project.

![image](https://user-images.githubusercontent.com/6721822/82940553-9aa47980-9fc7-11ea-8604-7a86a433ed90.png)

Versions are as follows:
[code]

[2020-05-28 08:16] ryanhs commented on #165
@blacksmoke26 I would like to have it too!
Lets discuss about Time,

ISO 8601 have this following format:

- Date and time in UTC
- Week
- Week with weekday
- Date without year
- Ordinal date

Which format can we use for Time?

I think for timestamp, it should be separated between second and milliseconds, example: `Timestamp` and `TimestampMS`

[2020-05-28 13:58] sambowler opened #347 "ISBN resolver shouldn't require "ISBN" prefix"
Hi,

Thanks for providing such a useful library. I've been looking at implementing the ISBN resolver which appears to require the string be prefixed with `ISBN` e.g. `ISBN 978-0-12-345678-9`. From reading through the [ISBN guidelines on isbn-international.org](https://www.isbn-international.org/content/what-isbn) and on [Wikipedia](https://en.wikipedia.org/wiki/International_Standard_Book_Number)

[2020-05-28 17:41] cerino-ligutom commented on #342
Fixed this by including `DOM` under the `compilerOptions.lib` of my tsconfig

![image](https://user-images.githubusercontent.com/6721822/83174829-8db19280-a14d-11ea-9f00-c03681b643d2.png)

[2020-05-28 17:41] #342 closed

[2020-05-28 18:24] kanstantsin-chernik opened #348 "[Bug] TS2304: Cannot find name 'URL' when building TS Project using tsc command"
I don't think addin `DOM` is an option. I don't use it, why would I add it.

[2020-05-28 18:24] kanstantsin-chernik commented on #348
Related to #342 which is closed for some reason

[2020-05-28 18:28] kanstantsin-chernik commented on #348
I think the mock should be:
`declare const URLMock: () => import('url').URL;`

[2020-05-29 12:55] ardatan commented on #348
`url` module is Node-specific, browser doesn't have it. You still need an extra package for your solution which is `@types/node`

[2020-05-29 12:56] ardatan commented on #347
PRs are welcome to update the regex.

[2020-05-29 14:29] ryanhs commented on #347
@sambowler I created PR for this fix :) turns out the grouping in regex the problem

[2020-05-29 14:31] sambowler commented on #347
@ryanhs You beat me to it! Thank you!

[2020-05-29 14:42] ryanhs commented on #248
@annymosse would you describe more about this File / Binary type?

[2020-05-29 15:56] ardatan commented on #347
Let's keep it open until it gets released!

[2020-05-29 16:01] ardatan commented on #348
Fixed in 1.1.5!

[2020-05-29 16:01] #348 closed

[2020-05-29 16:02] #347 closed

[2020-05-29 16:56] kanstantsin-chernik commented on #348
Thank you!

[2020-05-31 11:30] cobraz commented on #61
Hello! I've made a separate package to handle this. It's based on graphql-scalars, so it would be easy to import into this package if it every felt right. Meanwhile, people can use this. https://github.com/cobraz/firestore-graphql-scalars

[2020-06-07 09:52] cerino-ligutom commented on #348
Needed a quick workaround for #342 so adding `DOM` sufficed back then for testing though we ended up using `patch-package` to patch the lib when we deployed to prod. But since this finally got solved without us users adding `DOM` now, great! Thank you!

[2020-06-12 01:36] miguelcaro opened #371 "Wrong regex for EmailAddress type definition"
const EMAIL_ADDRESS_REGEX = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

this regex allows formats like **_test@testing_** also **_1222@122.1111_** and these formats are incorrect

[2020-06-12 09:34] ardatan commented on #371
@miguelcaro That regex comforts W3 specification so W3 supports those email addresses.

[2020-06-12 09:34] #371 closed

[2020-06-14 12:55] blacksmoke26 commented on #165
*Date and time in UTC* for sure!

[2020-06-14 12:57] blacksmoke26 commented on #165
Date => YYYY-MM-DD
Time => HH:MML:SS
Timestamp => YYYY-MM-DD HH:MML:SS

[2020-06-14 12:59] ardatan commented on #165
@blacksmoke26 PRs are welcome!

[2020-06-14 17:54] Borales opened #373 "Using default valuefor "*Int" scalars"
When assigning a default value for `PositiveInt` (probably for other `*Positive/Negative*` scalars too) type - the generated "graphql docs" tab in GraphQL Playground looks odd.

Same GQL schema:

[code]

The generated GraphQL Playground page:

<img width="355" alt="Screenshot 2020-06-14 at 19 49 08" src="https://user-images.githubusercontent.com/1118933/84600224-1f244280-ae78-11ea-8a55-dc4750f0cb7

[2020-06-14 18:19] ardatan commented on #373
It doesn't look like related to graphql scalars. You can create an issue on graphql playground.

[2020-06-14 18:19] #373 closed

[2020-06-15 09:13] svengau opened #374 "[Feature request] Add type Currency"
Hi,
I've just added the type Currency in [mongoose-schema-types](https://github.com/svengau/mongoose-schema-types/commit/a45db1c832b891fc0b6ff66b77a91fb8a4b43cda).

It's based on [ISO-4217](https://en.wikipedia.org/wiki/ISO_4217), and it would be great to add it too in graphQL scalars.

I can propose a PR if you're ok.

[2020-06-15 11:36] ardatan commented on #374
@svengau Sounds great!

[2020-06-15 13:32] svengau commented on #374
@ardatan here it is https://github.com/Urigo/graphql-scalars/pull/375

[2020-06-19 14:49] ardatan commented on #374
Available in https://github.com/Urigo/graphql-scalars/releases/tag/1.1.6 !

[2020-06-19 14:49] #374 closed

[2020-06-19 14:49] ardatan commented on #165
Available in https://github.com/Urigo/graphql-scalars/releases/tag/1.1.6 !

[2020-06-19 14:49] #165 closed

[2020-06-19 23:31] rrrix opened #382 "ISO Date SDL Examples are not documented, are breaking change"
A few minutes ago, I just did a fresh `yarn install` and all of a sudden my GraphQL Server wouldn't start:

[code]

I came here and saw there was a PR that was recently merged:

[Introduce new ISO Date scalars #380](#380)

1) This is a breaking change if people are importing the scalars provided by this package like this (e.g. using the default export from `graphql-scalars`, like you have [in the

[2020-06-20 05:10] ryanhs commented on #382
`Error: "Date" defined in resolvers, but not in schema`

May we know how the schema added the scalars?

simplest way sometimes i use:
[code]

[2020-06-20 06:48] ardatan commented on #382
Maybe I am missing something here.
If you use `typeDefs` and `resolvers` together, you won't get this error. That's why, we export `typeDefs`, too.
If you use some of type definitions together with resolvers of those, you won't get this error again.

[2020-06-21 14:33] ardatan opened #383 "Add `specifiedBy` to scalars"
See https://github.com/graphql/graphql-js/pull/2276

[2020-06-21 21:44] alexGuerraDev opened #384 "ObjectID Scalar not work properly"
The ObjectId scalar did not work properly, when it passed the loader this receive a String type

[code]

[code]

[2020-06-21 21:47] ardatan commented on #384
ObjectID scalar only does validation. It doesn't return an ObjectID object.

[2020-06-21 21:49] #384 closed

[2020-06-23 01:29] ryanhs opened #387 "DateTime breaking changes for timestamp with milliseconds"
DateTime in before version 1.1.6 accept timestamp with milliseconds as `new Date().getTime()`

*new version * throw error `'DateTime cannot represent an invalid Unix timestamp ' + value`
since https://github.com/Urigo/graphql-scalars/blob/100812a339a53d008c9fd7c54f53ff9bd37cae46/src/resolvers/iso-date/validator.ts#L146 guard it for timestamp in seconds only.

I just want to confirm, will we have t

[2020-06-23 11:54] lynxtaa commented on #387
Have similar problem: `DateTime cannot represent an invalid date-time-string 2019-01-01T00:00:00`

[2020-06-23 12:00] lynxtaa commented on #387
https://github.com/Urigo/graphql-scalars/pull/380 should be breaking change

[2020-06-23 12:06] ryanhs commented on #387
@lynxtaa i see, we used to treat the DateTime, as "ISO String" for outside world (graphql schema and client). and use any value that can be put in `new Date(...)` for inside world (our system)

[2020-06-23 14:31] #382 closed

[2020-06-23 14:34] ardatan commented on #387
@ryanhs You're right. We should stick with milliseconds.
But @lynxtaa has a different problem. I am not sure if we should support a date string that is invalid against ISO Date standard.

[2020-06-23 14:42] ryanhs commented on #387
@ardatan thank you very much bro :+1:

[2020-06-23 14:42] #387 closed

[2020-06-26 08:44] marcoreni opened #395 "DateTime cannot represent an invalid date-time-string"
I assume this is related to #380

After updating to 1.2.1 from 1.1.5 I'm receiving this error:
`DateTime cannot represent an invalid date-time-string 2020-06-01T10:02:00+0000.`

I see that https://github.com/Urigo/graphql-scalars/blob/master/src/scalars/iso-date/validator.ts#L120 validation fails because my TZ is missing `:` (my backend is using RFC822 format); Javascript `Date.parse()` seems to b

[2020-07-01 13:58] Nainterceptor commented on #395
Same issue here. I've locked to 1.1.5

[2020-07-03 09:52] yohavrotsztein opened #401 "Problem with Apollo"
Hi, I dont really understand how to implement the graphql-scalarq using Apollo and GraphQL as the only query that are not working are the ones using a parameter that is not from the basic scalar. Am I doing something wrong?
(exemple of one query that does not work)

schema.js
[code]
resolver.js
[code]
index.js
[code]

This is what I understood from the documentation and it returns me an error :
[c

[2020-07-03 10:57] ardatan commented on #401
You've added `BigIntTypeDefinition` and `BigIntResolver` twice in your schema so just remove one of them for example the ones I marked below;
[code]

[2020-07-03 10:57] #401 closed

[2020-07-16 14:02] gmac opened #414 "DateTime doesn't serialize a timestamp"
Using the `DateTime` scalar appears to serialize to a `Date` object, which subsequently prints into the GraphQL response using Date's default `.toString()` implementation. As a result:

**My GraphQL response returns this:** `Fri, 16 Mar 2018 11:50:07 GMT`
**But I was expecting this:** `2018-03-16 11:50:07.000Z`

The relevant code is here – https://github.com/Urigo/graphql-scalars/blob/master/src/s

[2020-07-16 14:33] ardatan commented on #414
@gmac Could you share a reproduction?

[2020-07-16 15:01] gmac commented on #414
@ardatan – sure thing! This sums it up:

**Schema:**

[code]

**Resolvers**

[code]

**Query:**

[code]

**Result:** the `DateTime` resolver is serializing a JavaScript `Date` object, which has a simple `.toString()` called on it while rendering the GraphQL response.

[code]

**Expected:** the `DateTime` resolver should serializing a formatted timestamp string.

[code]

[2020-07-16 18:51] mondxp opened #416 "URL Scalar seems to add extra qoutes to the given string"
Using the URL scalar as an input seems to add quotes at the start and end of the string.
E.g.: serialize function receives the value: _"https://domain.com/test"_ although _https://domain.com/test_ was sent.

This leads to an thrown Error that the url is invalid.

Is it a bug or am I doing something wrong?

[2020-07-16 18:52] ardatan commented on #416
Could you create a reproduction on CodeSandbox?

[2020-07-16 20:50] mondxp commented on #416
Sorry, thats on me! I overlooked that I am getting a URL object and my db client did save it that way. So everytime I tried to access it threw me an error.

[2020-07-16 20:50] #416 closed

[2020-07-17 07:25] deftomat opened #419 "[Enhancement] Provide a map of scalars and their TypeScript types."
We found this package and it has all the scalars which we need. Also, we are using `graphql-code-generator` to generate types for our resolvers.

The problem is, that this generator don't know, nothing about these scalars. So, every scalar is typed as `any`. To fix this, one can provide a hint to generator like *scalar Date will actually be an instance of `Date`* or *scalar PositiveInt is `number`

[2020-07-23 17:47] ldiqual opened #425 "Middle-ground between GraphQLInt and BigInt?"
I would like to use integers that are more than 32-bit, but without having to process BigInts at all. I would like a JSON number to be sent over the wire (instead of strings), and a JS Number to be processed at the resolver level (instead of BigInt *or* Number depending on platform support). This would mean 53-bit Number everywhere.

Would you consider allowing an option to the `BigInt` scalar tha

[2020-07-23 18:30] danielrearden commented on #425
@ldiqual Thanks for opening an issue.

The reason `BigInt` exists in JavaScript is because any Number larger than `Number.MIN_SAFE_INTEGER` (9,007,199,254,740,991) or smaller than `Number.MIN_SAFE_INTEGER` (-9,007,199,254,740,991) is considered *unsafe*. From [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER):

This applies to both clien

[2020-07-23 18:53] ldiqual commented on #425
@danielrearden Thanks a lot for following up on this! Agreed with what you said here, I don't think we should be using Number for values over 2^53-1, but at the moment there's no alternative for numbers between 2^32 (max for GraphQLInt) and 2^53 (max safe integer for JS Number), which is quite a big range. So I guess what I'm asking is whether we could have a safe integer scalar for values between

[2020-07-27 08:59] machi1990 opened #429 "Parse ObjectID scalar to Mongo ObjectID"
Currently the ObjectID scalar only checks for conformity with the [Mongo ObjectID](https://docs.mongodb.com/manual/reference/method/ObjectId/#ObjectId)

We, at [Graphback](https://github.com/aerogear/graphback/pull/1749) are considering the usage of this scalar type, we are considering the options of parsing the value directly to `ObjectID` and not return the raw string. In doing so, thought that

[2020-07-27 10:28] danielrearden commented on #425
@ldiqual Sorry, I misunderstood you. Thanks for clarifying. I think it would make sense to add a `SafeInteger` scalar that was `specifiedBy` the [ECMAScript spec](https://www.ecma-international.org/ecma-262/#sec-number.issafeinteger).

[2020-07-27 10:45] ardatan commented on #429
@machi1990 I already tried to return `ObjectID` instead of string but treeshaking didn't work well with `mongodb` package. That's why, I kept `ObjectID` scalar as it is.

[2020-07-29 01:32] danielrearden commented on #414
@gmac Thanks for providing an example. I can't reproduce this issue with the latest version of `graphql-scalars`. I know we changed the DateTime scalar to align with graphql-iso-date [starting with version 1.1.6](https://github.com/Urigo/graphql-scalars/commit/683489993ce27d16077755338ec0cd2dd20a70fb). Maybe you're using an older version?

Here's a sandbox that demonstrates the expected behavior:

[2020-07-29 11:22] machi1990 commented on #429
Hi @ardatan thanks for the reply. Are there plans to have such a support e.g by investigating the treeshaking issue further?

[2020-07-29 14:00] yvann commented on #414
Another way to see this is : The DateTime scalar type cannot parse its serialized value.

[2020-07-29 14:55] danielrearden commented on #414
@yvann The scalar's value is serialized as an RFC 3339 date time (such as `"2020-07-29T14:48:52.866Z"`) and it's able to parse such a value if it's submitted as input.

I'm not able to reproduce this issue with the latest version of the library (1.2.2). If you've updated to the latest version and still seeing an issue, it would be helpful to have a Code Sandbox or complete repo with a reproduction

[2020-07-29 15:00] yvann commented on #414
It's not the behavior I see and not what the code says here https://github.com/Urigo/graphql-scalars/blob/master/src/scalars/iso-date/DateTime.ts#L37
When "serialize" is called, it returns a "Date" object.

By the way, thank you for your fast reply and for the whole library !

[2020-07-29 15:28] ardatan commented on #414
It uses Date object internally so your server implementation will serialize it automatically via toJSON method of JS Date.

[2020-07-29 17:18] ldiqual commented on #425
@danielrearden amazing stuff! Thank you so much for adding this, it'll be super helpful.
@ardatan when is the next release planned? Just wondering if we should use master in the meantime or just wait a bit

[2020-07-30 00:22] ardatan commented on #425
Available in v1.2.4!

[2020-07-30 00:22] #425 closed

[2020-07-30 07:25] yvann commented on #414
Yes, but still looks wrong to me that we can't "parse" the "serialized" value, it throws an Error. Maybe it's the "parser" that has to accept Date object ?

I see it like this:
[code]

[2020-07-30 10:49] ardatan commented on #414
@yvann You're right! This has been fixed, now `parseValue` accepts `Date` instance.
@gmac Feel free to open a new issue with more details because we couldn't reproduce the issue.

[2020-07-30 10:49] #414 closed

[2020-07-30 10:54] ardatan commented on #395
The old behavior is available in 1.2.6!

[2020-07-30 10:54] #395 closed

[2020-07-30 11:23] yvann commented on #414
🙏 great, thank you for this release !

[2020-08-03 21:16] Urigo commented on #419
@deftomat this is a really cool idea, would you be interested in trying out to create a PR for it?
We would gladly support you!

[2020-08-03 21:16] Urigo commented on #429
@machi1990 yes we would be open for this change, would you care to try a PR that might tackle this issue?

[2020-08-05 19:48] deftomat commented on #419
Sure, I will!

[2020-08-18 09:25] machi1990 commented on #429
@Urigo @ardatan I gave it a try [here](https://github.com/Urigo/graphql-scalars/compare/master...machi1990:bson?expand=1) but the bundle size more than doubled.
[code]

Was this the approach that you considered? @ardatan

[2020-08-18 14:47] ardatan commented on #429
Webpack assumes exported `GraphQLScalarType` instances have always side effects. For most of them, pure magic comment works;
https://github.com/Urigo/graphql-scalars/blob/master/src/scalars/ObjectID.ts#L5
But it doesn't work well with MongoDB's ObjectID somehow.

[2020-08-28 14:45] izquierdogalan opened #465 "Example with Nestjs"
I try to use this library with Nestjs, but it is not working for me. Has someone an example?

[2020-08-28 15:10] izquierdogalan commented on #465
It is easy with annotations, I put an example :):
`@Mutation(() => EmailAddressResolver)`
`@Field(() => EmailAddressResolver, { nullable: true })`

[2020-08-28 15:10] #465 closed

[2020-09-01 01:00] robross0606 opened #469 "Time scalar validation is too strict"
The regex used to validate ISO8601 times is more strict than the general standard.  For example, the timezone offset is supposed to be optional.  You also do not allow specification of hours without minutes or minutes without seconds.  It also does not allow lower case "z" or "t" as per the RFC 3339 spec..

[2020-09-02 12:54] ardatan commented on #469
I think RFC 3339 doesn't allow lowercase, does it?

[2020-09-03 16:40] robross0606 commented on #469
https://tools.ietf.org/html/rfc3339#page-10

[2020-09-03 16:52] robross0606 opened #479 "Scalars are using type coercion"
Your documentation should make it clearer that you're doing type coercion.  So, for example, submitting "3.1415" will not fail when using `PositiveIntResolver` because ultimately it is being passed through `parseInt()` which will happily convert it to 3.

I would say your documentation is misleading:

It isn't doing "strong typing" at all. It is doing JavaScript type coercion which is anything but

[2020-09-04 15:27] robross0606 opened #480 "Resolvers change the content of date and time"
When using `TimeResolver` or `DateResolver`, the actual values are modified.  For example, if I put in a time value of "00:00:30Z", what is actually passed through to mutation resolver code for storage and response is a full DateTime which includes the current date.
[code]

This is not functionally accurate and changes the fundamental semantic meaning of the values.

[2020-09-04 15:38] ardatan commented on #480
@robross0606 Could you share a reproduction repo?

[2020-09-04 15:40] robross0606 commented on #480
The spot where this happens looks pretty clear to me:

[code]

Here you append the passed in time to the current date.  Since Javascript date/time is relative to January 1st, 1970, a "free standing" time value should probably be relative to that date instead of the current date.  Or at least there should be an option to do this:

[code]

[2020-09-04 15:46] robross0606 commented on #480
However, personally I think converting these to a DateTime at all is a mistake.  Validation of the value is one thing.  Fundamentally altering the data type and, hence, the actual stored value and semantic meaning is another.  Pushing an ISO Time value into a full Javascript DateTime object is a round peg in a square hole.

[2020-09-04 15:49] ardatan commented on #480
But it is not clear to me actually. :) `Date`, `Time` and `DateTime` scalars parse the input which is mostly a string value into JS Date. Nothing is converted to `DateTime`. You can use `RegularExpression` factory function to create your own scalars based on your own regular expressions.

[2020-09-04 15:51] robross0606 commented on #480
Okay, sorry, a Javascript `Date` object which is actually a full DateTime.  You're changing the data, not just validating.  You're pushing in the current date so you can convert it to a Javascript `Date` object.  This is purely a time value.  Allow it to pass thru as such.

[2020-09-04 15:52] robross0606 commented on #480
I've already decided that your library isn't meeting my needs.  It is fundamentally altering data where I'm only looking to validate that the data conforms to ISO representation.  This seems perfectly fine to you, so I'll be implementing my own custom scalars and not using the library at all.

[2020-09-04 16:01] ardatan commented on #480
The data is not changed actually, the time value is still there. When it's serialized back, it becomes `00:00:30Z`. Also validations are done using the regular expressions created based on ISO standards(if not, that means there is a bug). Maybe our docs have missing information about this workflow.
We're always open for discussions, ideas, contributions and more to make all those better :)

[2020-09-04 16:04] robross0606 commented on #480
What ends up being passed _into_ the actual resolvers from input is fundamentally changed.  Just because you convert it back and forth on the fringe, doesn't mean what is being handled internally based on the input is doing that.  At the very least, your documentation is very much lacking in detail.  I don't see anything that indicates these are even converted to Javascript `Date` objects.  It wou

[2020-09-05 19:29] ksreejithnair opened #482 "Email address validation is wrong. sr@sr "without .com" is coming as valid email."
I came to know that we are following RFC822 but RFC 822 was obsoleted in 2001 by RFC 2822, which in turn was obsoleted in 2008 by RFC 5322. The status of RFCs can be checked from the RFC Editor’s RFC database. My fix is not based on latest spec, but what we have in the package is terribly wrong. ard@ard is not a valid email. Let's fix the regex and then update to latest.

This is the pull request

[2020-09-07 07:06] marklawlor commented on #480
@ardatan I think two new scalars which simply validate the input and do not turn it into a Date object would be ideal. Eg `DateString` and `TimeString` which keep the type as a string.

Trying to use the `Date` and `Time` scalars with [graphql-code-generator](https://graphql-code-generator.com/) (another of The Guild's open source projects) is a bit frustrating. If you type the scalars as `string

[2020-09-07 07:13] ardatan commented on #480
@marklawlor Why don't you think another scalar `DateTimeString` because the same conversion applies there? There is no types on the client side other primitive ones(string, number and boolean).
I am ok to have extra scalars that returns `string` instead of `Date` inside resolvers. Any PRs are welcome!

[2020-09-07 10:35] marklawlor commented on #480
@ardatan Most GraphQL clients serialise objects with JSON.stringify.  Javascript's Date object has an unusual quirk where `JSON.stringify(new Date()) === new Date().toISOString()`. This is definitely not intended behaviour by the GraphQL clients, but this quirk allows you to keep the type `Date` for `DateTime` without it breaking anything.

[2020-09-07 10:43] ardatan commented on #480
@marklawlor I know but `new Date(dateString).toISOString() === dateString` is not always true. So we should consider `DateTimeString` together with `DateString` and `DateTimeString` because people like @robross0606 would like to keep the timezone etc in that case.

[2020-09-07 10:58] marklawlor commented on #480
Ah yes, forgot that toISOString converts to UTC. Seems reasonable to include DateTimeString :+1:

[2020-09-07 12:39] ardatan commented on #482
See https://github.com/Urigo/graphql-scalars/pull/472#issuecomment-688295484

[2020-09-07 12:39] #482 closed

[2020-09-22 07:37] vespertilian commented on #419
I would be very keen to have this :)

[2020-09-22 07:44] vespertilian opened #503 "ISO 8601 duration format"
Hi,

Would you be open to a PR with the [ISO 8601 duration](https://www.digi.com/resources/documentation/digidocs/90001437-13/reference/r_iso_8601_duration_format.htm). I am using the dateFns library and it [supports this string format](https://date-fns.org/v2.15.0/docs/formatISODuration). So it might be useful for others.

Side note: the links in your contribution doc are not working. I think you

[2020-09-25 07:58] ardatan commented on #503
Hi, We'd love to accept a PR!

[2020-10-04 15:08] ardatan commented on #503
Available since 1.3.0! Thank you @vespertilian !

[2020-10-04 15:08] #503 closed

[2020-10-06 10:34] carlocorradini opened #517 "Rename GUID to UUID or create an alias"
**Can we rename GUID to UUID?**
From wikipedia: "A universally unique identifier (UUID) is a 128-bit number used to identify information in computer systems. The term globally unique identifier (GUID) is also used, typically in software created by Microsoft."
Since UUID is more "_universal_" and expressive (Databases, Type, etc..) rather than GUID that refers to Microsoft specific products.
Can th

[2020-10-06 11:30] ardatan commented on #517
That sounds good! Would you care to try a PR for this?

[2020-10-06 12:12] carlocorradini commented on #517
See https://github.com/Urigo/graphql-scalars/pull/518.

[2020-10-06 13:25] ardatan commented on #517
Available in 1.4.0! Thanks @carlocorradini

[2020-10-06 13:27] #517 closed

[2020-10-08 14:16] carlocorradini opened #523 "JWT token scalar?"
What do you think about a JWT scalar type?

[2020-10-11 16:38] TheGrimSilence commented on #523
Is it possible to get more info on this? Preferred implementation, why you feel it's necessary, how it works in the context of GraphQL schemas?

[2020-10-11 18:04] carlocorradini commented on #523
For example in a Sign In mutation. When the User is authenticated a JWT token is returned to the client.

Or in combination with [TypeGaphQL](https://github.com/MichalLytek/type-graphql) where in the Mutation I assign the return value to be a GraphQLJsonWebToken (or GraphQLJWT) and not a generic string.

[code]

[2020-10-13 03:03] ksreejithnair commented on #482
Please see comment https://github.com/Urigo/graphql-scalars/pull/472#issuecomment-707453870 and help re opening this.

[2020-10-14 06:23] vespertilian commented on #480
:wave:

I am also keen on adding a Time string to this library but my requirement is slightly different. My issue with the current time implementation is that forces a timezone either 'Z' (UTC) or the offset. What I am capturing in my app is the 24-hour time string without an offset, as the user is entering it irrespective of timezone.

I imaging it would just validate "HH:MM:SS". That the hour ra

[2020-10-14 08:58] vespertilian opened #531 "Add 24 hour (unqualified local time)."
I commented on #480 but I figure this might be worth its own issue number.

I am keen on adding a 24 hour time scalar to this library without offsets or UTC designators. My issue with the current time implementation is that forces a timezone either 'Z' (UTC) or the offset. What I am capturing in my app is the 24-hour time string without an offset, as the user is entering it irrespective of timezon

[2020-10-14 13:07] chrskrchr commented on #480
@vespertilian - to solve a similar "dates and times without timezones" issue, my team introduced `LocalDate` and `LocalTime` scalars that are backed by string value but include validation that they're in the right format.  They're intended to mimic the Java classes of the same name ([LocalDate](https://docs.oracle.com/javase/8/docs/api/java/time/LocalDate.html) and [LocalTime](https://docs.oracle.

[2020-10-15 06:52] vespertilian commented on #480
@chrskrchr Hey thanks. Looks kinda like what I want.

I have also already created an implementation. I think I like your name better. Happy for either of us to do a PR. As long as others are happy with the content and naming.

My implementation for reference:

[code]

Do these specs line up with what you were thinking?

[code]

[2020-10-15 08:01] marklawlor commented on #480
I like the name LocalTime :)

@vespertilian Bit of a nitpick, but be aware the often military time does not include the colon and  [can include timezone in western countries](https://en.wikipedia.org/wiki/List_of_military_time_zones). For example, 6:00 a.m. in zone UTC−5 is written "0600R" and spoken "oh six hundred Romeo"

[2020-10-15 08:10] vespertilian commented on #480
@marklawlor, yeah sure I can remove the military time reference, I only added it when reading Wikipedia and looking for other names. If it's not accurate, lets remove it. Thanks.

[2020-10-18 22:35] vespertilian commented on #480
@chrskrchr, hey yeah submit a PR. No issues here :).

I don't think we should have the default for a TS / JS library include the 24th hour, maybe this scalar could be a function you import and you pass a parameter `localTime({24h: true})`. I assume most people using the library would be using TS / JS and the various date libraries in this eco-system (Moment, Luxon, Date-Fns), having 24 will cause

[2020-10-20 01:09] chrskrchr commented on #480
PR submitted here: https://github.com/Urigo/graphql-scalars/pull/533

That's a fair point.  Both Moment and Luxon _do_ currently support `24:00` as a valid time string, but I wouldn't want anyone to be surprised by that behavior.

Rather than making it a function-scalar, I'd rather introduce a separate scalar called `LocalEndTime` that's identical to `LocalTime` but allows `24:00` and is intended

[2020-10-20 02:01] vespertilian commented on #480
@chrskrchr local end time sounds good.

[2020-10-29 15:34] Shahor opened #574 "EmailAddress doesn't support diacritics characters"
`EmailAddress` scalar is missing some validations around diacritics, as per RFC

- https://en.wikipedia.org/wiki/Email_address#Internationalization_examples
- https://stackoverflow.com/questions/760150/can-an-email-address-contain-international-non-english-characters/31066998#31066998

Is this intentional to keep the validator simple? Or can we build on this?

[2020-10-30 03:58] cyberwombat opened #576 "Typescript definition for parseLiteral requires 2 arguments"
I am not sure where the issue lies here but thought I'd ask.

I am using some scalars such as `TimeResolver` and when calling `parseLiteral` such as: `TimeResolver.parseLiteral(value)` Typescript yields an error:
[code]
The definition from the `graphql` package which is where TS seems to pull it from is:
[code]
Can someone provide some help on how I should deal with this error?

[2020-11-02 10:24] FilipPyrek opened #578 "Incompatible GraphQL version(s) in peerDependencies"
I've sumbled upon this issue: https://github.com/bboure/serverless-appsync-simulator/issues/53

And I've discovered in my project is happening this:
- most of the packages are fine with `graphql` version `14.7.0` and single package needs version `0.13.2`
- so npm installs both versions
- the packages are using the new `graphql` version and one of the packages is using also `graphql-scalars` and `g

[2020-11-03 02:02] chrskrchr commented on #480
Great - I've split the time scalar into `LocalTime` and `LocalEndTime` where only the latter supports `24:00` as a valid value.

https://github.com/Urigo/graphql-scalars/pull/533

[2020-11-04 22:28] M1CK431 opened #584 "[Feature Request] Add ULID scalar type"
Hi,

Thanks a lot for all these scalars. I have add them in my projet immediately after reading the readme :man_cartwheeling:

However, I'm using `ULID` as `ID` and I haven't found this scalar yet.
I guess it could be easy to implement it after the recent UUID addition :stuck_out_tongue_winking_eye:

NB: spec can be found here: https://github.com/ulid/spec

[2020-11-04 22:28] M1CK431 opened #585 "[Feature Request] Add ULID scalar type"
Hi,

Thanks a lot for all these scalars. I have add them in my projet immediately after reading the readme :man_cartwheeling:

However, I'm using `ULID` as `ID` and I haven't found this scalar yet.
I guess it could be easy to implement it after the recent UUID addition :stuck_out_tongue_winking_eye:

NB: spec can be found here: https://github.com/ulid/spec

[2020-11-04 22:30] M1CK431 commented on #584
Sorry for the duplicated issue (thanks to github 404 error).
I'm closing it right now as a duplicate of #585

[2020-11-04 22:30] #584 closed

[2020-11-19 12:42] ardatan commented on #531
Available in v1.5.0!

[2020-11-19 12:42] #531 closed

[2020-11-25 09:19] DarkLite1 opened #607 "How to use the library with TypeGraphQL buildSchema method?"
I couldn't find a help channel for noobs that's why I post my question here. Sorry if this is the wrong place to ask.

We are using [type-graphql](https://typegraphql.com/docs/scalars.html) together with Apollo Server. When following the [documentation](https://github.com/Urigo/graphql-scalars#usage-with-apollo-server) on setting up `graphql-scalars` with Apollo-Server we struggle to get it right.

[2020-11-25 09:39] ardatan commented on #607
`graphql-scalars` exposes `GraphQLScalarType` objects created with vanilla `graphql-js` but TypeGraphQL uses a decorated classes as `resolvers`. `Resolver` of `graphql-scalars` is compatible with `graphql-tools` resolvers approach.
You can use `GraphQLDateTime` directly as custom scalar as described in TypeGraphQL docs;
https://typegraphql.com/docs/scalars.html#custom-scalars

[2020-11-25 09:58] DarkLite1 commented on #607
Thank you for the help, much appreciated. I think I still must be doing something wrong...

[code]
![image](https://user-images.githubusercontent.com/10828570/100211991-1c407a00-2f0d-11eb-9465-256ca9b0ebfb.png)

Digging deeper

[2020-11-25 12:19] ardatan commented on #607
GraphQLDateTime is already a scalar. You don't need to create another one. Just use it :)

[2020-11-25 12:37] DarkLite1 commented on #607
Yes indeed, that seems to do be the way, thank you. However, now I get conflicts with the built-in `DateTime` scalar and the one from the `grapqhl-scalars` package. Even when trying to destructure it with another name:

[code]

[2020-11-25 12:49] DarkLite1 commented on #607
I think I found a way:

[code]

Then use it like this:
[code]

[2020-11-25 12:51] ardatan commented on #607
@DarkLite1 Using `Date` instead of `string` might work better.

[2020-11-25 19:16] #607 closed

[2020-12-04 06:47] AdrienLemaire commented on #503
The doc is mentioning the scalar `Duration` and resolver `DurationResolver`, but the actual names are `ISO8601Duration` and `ISO8601DurationResolver`.
Would be nice to have an alias, or fix the readme doc.

[2020-12-04 14:41] maxaggedon opened #620 "BigInt / SafeInt confusion"
Just discovered this package as I am looking to fix an issue with `GraphQLInt` and large integers.

I was confused because you say your `BigInt` scalar is based on `graphql-bigint`, and for what I see there (https://github.com/stems/graphql-bigint/blob/master/index.js), that package looks more like your `SafeInt` type...

In the end I think your README explains well what is in this package, but th

[2020-12-05 14:30] ardatan commented on #620
You're right! I fixed the confusion in README! Thanks!

[2020-12-05 14:30] #620 closed

[2020-12-25 17:34] beezee opened #651 "Export scalar configs"
If you look here - https://github.com/graphql/graphql-js/blob/607345275f60e07dba1b7156a23b9ddf8b086fc9/src/type/definition.d.ts#L319

You'll see that applying a scalar config to the scalar constructor erases the type information associated with the underlying types on either side of the scalar parse/serialize.

If you expose the configs (done by the typings, not by the compiled js) then it allows

[2020-12-25 23:48] ardatan commented on #651
@beezee This would be nice! But currently I don't think we have that strong type safety in our scalar configuration for all of them. We need to move the configurations of each of them to a seperate variable.

[2020-12-28 14:45] ash0080 commented on #429
ObjectID should return a fix type, but now, it could be a string or an ObjectID, A basic principle should be at least that the incoming and outgoing are of the same type.
Same case, e.g. URL, incoming is a string, return type is a URL object, WTF

[2020-12-28 17:05] ardatan commented on #429
@ash0080 There are multiple subjects here :) First, ObjectID should always string in our scalar (if not this is a bug).
Second, you can easily stringify incoming URL object with 'toString'. The scalar uses URL object like DateTime scalar uses Date object which can be easily formatted with 'toJSON' or 'toString' easily. Those are already mentioned in the docs afaik. If you want to have a validation

[2020-12-28 18:59] ash0080 commented on #429
···
const validateObjectId = value => {
  if (typeof value !== 'string' || !(value.length === 24 && MONGODB_OBJECTID_REGEX.test(value))) {
    throw new TypeError(`Value is not a valid mongodb object id of form: ${value}`)
  }
  return value
}
const validateURL      = value => {
  if (!URL_REGEX.test(typeof value === 'string' ? value.trim() : value)) {
    throw new TypeError(`Value is not a valid

[2020-12-28 19:43] ardatan commented on #429
My concern about `ObjectID` was the bundle size. Treeshaking doesn't work well with `mongodb` package then it increases bundlesize heavily so that's why I was against to use `ObjectID from mongodb directly.
For `URL`, you can use `RegularExpression` factory like below;
`const MyRegexType = new RegularExpression('MyRegexType', /^ABC$/);`

[2020-12-28 19:53] ash0080 commented on #429
You can just extract  the code from Object.isValid()

[2020-12-28 22:38] ardatan commented on #429
What do you mean by extracting code from ObjectID and how do we decide if that is an instance of ObjectID without importing `mongodb`?

[2020-12-29 04:48] ash0080 commented on #429
[code]

see? Why do you want to reference the entire mongodb?
You can use bson-objectid, it's 33k

[2020-12-29 08:31] ardatan commented on #429
The entire GraphQL Scalars package is 90 kB and even 33 kB is too much compared to entire size but all scalars are treeshakable so for example if you use only one scalar, you will only have that scalar's bundle size.
If we use any other package for ObjectID, that might not work with MongoDB driver because it uses bson npm library and sometimes it uses bson-ext if available.

[2020-12-29 19:02] ash0080 commented on #429
It doesn't make sense, In the end, you can specify mongodb as an external module in webPack ::jack_o_lantern:

[2020-12-29 21:46] ardatan commented on #429
@ash0080 Having 'mongodb' as an external dependency doesn't matter. How do you manage non Node environment? Since there is no treeshaking for ObjectID, mongodb will be needed eventually even if you don't use ObjectID scalar.

[2020-12-30 03:53] ash0080 commented on #429
Dynamic Import? Dependency Injection? Factory pattern?  many ways to implement this if you wish

[2020-12-30 04:09] ardatan commented on #429
@ash0080 Personally I couldn't make something fixes this. If you think you can fix it, PRs are always welcome.

[2020-12-30 04:14] ash0080 commented on #429
Not interested in doing any fix, Because I think this module is badly designed

[2020-12-30 07:16] ardatan commented on #429
@ash0080 Ok good luck

[2020-12-30 10:17] Urigo commented on #429
Jumping in here, @ash0080 I think it's hard to read your thoughts, maybe instead of the debate here, you could open a draft PR on how you think it should look like, maybe the discussion would be more clear there?

[2020-12-30 16:36] ash0080 commented on #429
I don't have any ideas, I don't even intend to discuss how to make a bundle with webpack,
and I don't care if the package is intended to support ObjectID conversions.
Because I have removed it from my package.json

But maybe, you guys would like to see how graphql-validated-types is designed,
Although it has only 1/800 of your downloads.

if it were me, I would like to base a module on the factory

[2020-12-30 18:36] ardatan commented on #429
@ash0080 There are many people using this package in their serverless or client side projects so they need to think about bundle size. That's why, we care about the bundle size. This project is open source and we always accept PRs from the community to make this package better for the community. I am sorry to hear you don't want to contribute this project.
It is hard to follow your thoughts in thi

[2021-01-08 05:43] yoroshikun opened #662 "JSON Array Scalar missing?"
Hi,

I have been working with scalars for my personal project for a bit and have come across a slight limitation with the JSON Scalar

Essentially the data in the database is an array of objects, not directly an object eg. {}. vs [{},{}]. The ensureObject check then throws an error as it recognizes an array instead of an Object (as intended)

Is there a recommended way to represent and pass a JSON

[2021-01-09 23:49] ardatan commented on #662
You mean arrays are not supported by JSON scalar. Arrays are also objects in JS so it should work anyway.

[2021-01-11 21:51] yoroshikun commented on #662
Yes that is what I mean, and the parser does work absolutely fine if i remove the specific `Array.isArray(value)` check in the ensureObject helper which runs before parsing the JSON.

How should I go about this without making that potentially dangerous modification to the ensureObject function.

[2021-01-11 22:25] ardatan commented on #662
Oh ok now I see. I thought you were talking about `JSON` scalar but you are talking about `JSONObject`.  Would you create a PR that adds `JSONArray` scalar?

[2021-01-12 00:03] yoroshikun commented on #662
I could give it a shot, Just wondering if that would be required. I guess it would be more type-safe than generic JSON.

So my options since JSON accepts arrays (I was mistakenly using JSONObject as the resolver) I could just use that. or. I can submit a PR that adds the JSONArray scalar that enforces array of objects?

Either or is fine for me. It was my mistake for using the JSONObject when clea

[2021-01-13 03:21] dyst5422 commented on #414
This is still an issue when used with introspection. See the code here https://github.com/graphql/graphql-js/blob/master/src/utilities/astFromValue.js#L106-L141 that drives introspection when using default values. The default values need to be serialized. Unfortunately, graphqljs doesn't call JSON.toString() and so this hits the throw clause at the end there.

Still not sure whether this needs to

[2021-01-21 13:14] renovate[bot] opened #678 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 22:01] yanickrochon opened #679 "Error: "Duration" defined in resolvers, but not in schema"
I get this error for updating from `^1.2.6  →    ^1.7.0`.

[2021-01-21 22:04] yanickrochon commented on #679
Nevermind, I only had to add all of these types to my already exhaustive list :

[code]

[2021-01-21 22:04] #679 closed

[2021-01-22 20:40] yanickrochon opened #681 "NodeJS ES Modules support"
When upgrading to Node.js v14.5, I get into issues with this module because it does not recognize the exported module correctly. I have tried this solution with a small test project, and it seems to work :

## package.json

[code]

[2021-01-22 20:51] yanickrochon commented on #681
Actually, I think having `"type": "module"` would lead to a better outcome. The `import`s need to have the file extensions, though.

[2021-01-22 23:11] ardatan commented on #681
I think you are talking about ESM support but even GraphQLJS package doesn't support ESM very well so I don't think having this supported in this packages makes sense at least for now

[2021-01-22 23:19] yanickrochon commented on #681
This is why I started by suggesting the CommonJS standard approach, then commented about actually taking the leap of adopting the latest adopted proposals in terms of Node modules. I have started to upgrade a few of my projects, only offering backward compatibility through Babel, and I think it's about time the community push hard on this side. I hope this issue can remain, and perhaps be linked t

[2021-02-03 07:02] vespertilian commented on #480
@chrskrchr

We never actually created the DateTimeISOString did we?

I think I want that now. I want the date validated against the ISO spec but I don't want it transformed into a Date object as I will just have to transform it back to write it to the DB.

@ardatan Are you good for a PR with this?

[2021-02-10 13:08] chrskrchr commented on #480
Correct.

While the `LocalTime`, `LocalEndTime` and `LocalDate` scalars have the behavior you describe where they AREN'T transformed into a date object (they're left as strings), the strings can only hold times and dates that have no associated TZ.  We'd need a separate scalar for strings whose value can be any ISO8601 value.

[2021-02-17 07:57] 8562056816031 opened #715 "105215"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**

**Environment:**

- OS:
- GraphQL Scalars Version:
- NodeJS:

**Additional context**

[2021-02-17 08:55] #715 closed

[2021-02-17 19:54] rufman opened #716 "Byte hexValidator returns false instead of true for hex value"
**Describe the bug**

Some hex values are not accepted by the hex validator as hex.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**

A valid hex value should be identified as such

**Environment:**

- OS:
- GraphQL Scalars Version: 1.7.0
- NodeJS: 14.15

[2021-02-17 20:29] ardatan commented on #716
Available in v1.7.1! Thanks @rufman !

[2021-02-17 20:29] #716 closed

[2021-02-26 13:02] carlocorradini opened #735 "Git hooks not working due to Husky V5 new config"
**Describe the bug**
Husky V5 has changed the configuration/installation.
The git pre-commit hooks is not activated.
For more information: [https://dev.to/typicode/what-s-new-in-husky-5-32g5](https://dev.to/typicode/what-s-new-in-husky-5-32g5)

**To Reproduce**
Steps to reproduce the behavior:
Clone the repo. Change something. Commit.

**Expected behavior**
Git pre-commit hooks.

**Environment:**

[2021-02-26 13:18] ardatan commented on #735
Fixed! Thanks for reporting this issue.

[2021-02-26 13:18] #735 closed

[2021-02-26 13:19] ardatan commented on #523
Available in v1.8.0! Thanks @carlocorradini <3

[2021-02-26 13:19] #523 closed

[2021-03-05 20:09] carlocorradini opened #747 "Add Latitude & Longitude scalars"
Add Latitude & Longitude scalars.

Latitude: latitude is a geographic coordinate that specifies the north–south position of a point on the Earth's surface.

Longitude: is a geographic coordinate that specifies the east–west position of a point on the Earth's surface, or the surface of a celestial body.

[2021-03-08 14:19] ardatan commented on #747
Available in https://github.com/Urigo/graphql-scalars/releases/tag/v1.9.0 !
Thanks @carlocorradini !

[2021-03-08 14:19] #747 closed

[2021-03-11 23:59] haleksandre opened #756 "Add CUID scalar type"
Could it be possible to add a cuid scalar type.

#### cuid
[code]

#### Broken down
[code]

#### The groups (in order)
- 'c' - identifies this as a cuid, and allows you to use it in html entity ids.
- Timestamp
- Counter - a single process might generate the same random string. The weaker the pseudo-random source, the higher the probability. That problem gets worse as processors get faster. The co

[2021-03-12 00:02] ardatan commented on #756
That sounds cool! Would you create a draft PR for that so we can help you in advance?

[2021-03-12 08:34] andreialecu commented on #419
@deftomat I also would like this and could work on a PR for it, but I wonder why your example is JavaScript.

As far as I can tell, graphql-code-generator's configuration is YAML. Do you have an example of how this might be bridged between JS and YAML?

Because otherwise a simple list in the `README` that can be copy pasted into the codegen config would probably do.

[2021-03-12 08:38] andreialecu commented on #479
New user here.

Is this true?

Based on the code below, it should validate that a GraphQL `INT` was received prior to parsing it:

https://github.com/Urigo/graphql-scalars/blob/3931faef9f12d2678d70acf3ae80b77613fc0475/src/scalars/PositiveInt.ts#L18-L22

[2021-03-12 08:50] andreialecu opened #757 "Scalar type factory (range validation, custom conditions)"
**Is your feature request related to a problem? Please describe.**

I'd like to define some scalars that are for example positive integers limited to values between 0 to 6 (for a weekday index).

**Describe the solution you'd like**

It seems it would be possible to expose a factory method that could return a custom scalar with custom validation.

For example:

[code]

**Describe alternatives you'

[2021-03-12 09:10] andreialecu commented on #419
@ardatan since you're a graphql-code-generator contributor as well.

How would this best be implemented?

[2021-03-12 10:33] deftomat commented on #419
Its in JS because we are using it in our custom Webpack plugin. You can trigger the generator through JS API.

[2021-03-12 11:04] andreialecu commented on #419
While digging through the graphql-code-generator source I found that `scalars` can actually point to a source file where they can be defined in code:

https://github.com/dotansimha/graphql-code-generator/pull/2418

Test here shows how to use it:
https://github.com/dotansimha/graphql-code-generator/pull/2600

So it seems this should work with something like `scalars: my-scalars.ts`

This functional

[2021-03-14 18:33] iSplasher opened #760 "JSONObject: TypeError: Cannot convert object to primitive value"
**Describe the bug**

Because of this line https://github.com/Urigo/graphql-scalars/blob/60190f594e2cbc37175d4364f44726e385dd70a0/src/scalars/json/utils.ts#L19
You'll get `TypeError: Cannot convert object to primitive value` when you try to print something like `console.log(``${Object.create(null)}``)` because it doesn't inherit from `Object`.

Unless there's a good reason to not create a normal o

[2021-03-20 12:21] Urigo commented on #419
@andreialecu would you be willing to PR the docs on GraphQL Codegen's website and also maybe add a section to the README here with examples of people who wants to use both packages together?

cc @tvvignesh as he will soon create a docs website for GraphQL Scalars as well, based on the current readme

[2021-04-06 10:55] rakibulalam opened #805 "In nestjs, showing the following error."
`Type '{ Date: GraphQLScalarType; Time: GraphQLScalarType; DateTime: GraphQLScalarType; Timestamp: GraphQLScalarType; ... 47 more ...; Void: GraphQLScalarType; }' must have a '[Symbol.iterator]()' method that returns an iterator.ts(2488)`

[2021-04-06 14:50] benhickson commented on #110
Sorry to re-open, but it seemed relevant - is there any difference between importing `GraphQLDateTime` and `DateTimeResolver` ? Why are both exported?

[2021-04-06 14:53] galkin commented on #110
TypeResolver !== TypeDefenition

[2021-04-16 06:22] hinsxd opened #825 "[Website] graphql-scalars.dev not viewable, error: NET::ERR_CERT_COMMON_NAME_INVALID"
**Describe the bug**

https://www.graphql-scalars.dev is OK but https://graphql-scalars.dev is not

[code]

**To Reproduce**
https://graphql-scalars.dev

**Environment:**

- OS: MacOS 10.15.7

**Additional context**
Perhaps some problems in setting subdomians for the certificates. Not familiar in domain settings

[2021-04-16 13:47] alfredchanfq opened #826 "Bugs in Date scalar"
Hi. I'm been trying to use the Date scalar, and I found 2 problems related to it.

**Problem 1:**

The Date scalar accepts value like '2021-07-32', but then when it's turned to `new Date()`, the Date constructor returns 'Invalid Date' which doesn't throw exceptions. The Graphql layer should not let such values get pass its validators.

The problem is that https://github.com/Urigo/graphql-scalars/b

[2021-04-16 15:41] ardatan commented on #826
For the first problem you reported, I tried to reproduce it but `2021-07-32` fails as expected;
See https://github.com/Urigo/graphql-scalars/pull/827/files

For the second one, you can try `LocalDate` if you work with timezones.

If I'm missing something, I'd appreciate if you create failing tests for those cases.

[2021-04-16 17:15] ardatan commented on #805
Could you give more details and create another issue with a reproduction if possible. GraphQL Scalars package exports scalars as `GraphQLScalarType`. So it is independent from the framework you use.

[2021-04-16 17:15] #805 closed

[2021-04-16 17:16] ardatan commented on #760
Could you create a PR with a failing test?

[2021-04-16 17:42] alfredchanfq commented on #826
Hi @ardatan, for the first problem. I did encounter "Invalid Date" in my backend (the answer passed through the Graphql layer raw, without any date manipulation) **a while ago**. Because I didn't realize there's `LocalDate` and I need to work with time zones, so I panicked and rolled out my own scalar similar to `LocalDate` with date-fns, for a fix quick. So for the first problem, I didn't use the

[2021-04-16 17:42] #826 closed

[2021-04-24 11:01] ardatan commented on #825
This seems fixed! Thank you for reporting this!

[2021-04-24 11:01] #825 closed

[2021-04-24 11:02] ardatan commented on #760
Closing due to the inactivity. Feel free to create a new issue with a reproduction.
You can also check this;
[issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)

[2021-04-24 11:03] #760 closed

[2021-04-24 11:09] ardatan commented on #479
@robross0606 Feel free to create a new issue with a failing test if you still think this doesn't work as expected.

[2021-04-24 11:09] #479 closed

[2021-04-24 11:10] ardatan commented on #576
Sorry for late response but this is not related to this library. What I recommend is to pass an empty object in the second parameter.

[2021-04-24 11:10] #576 closed

[2021-04-24 11:10] #480 closed

[2021-04-24 11:24] ardatan commented on #469
Fixed in the latest version!

[2021-04-24 11:24] #469 closed

[2021-04-24 12:48] robross0606 commented on #479
@ardatan Was something changed/fixed or is the code still doing type coercion?

[2021-04-24 14:01] ardatan commented on #479
@robross0606 I think same with @andreialecu . Our validators here validate strictly but doesn't do any coercion. If you still think, please create a failing test or a reproduction.

[2021-04-24 14:16] robross0606 commented on #479
@ardatan Okay, I'll give it a shot as soon as I have time.  Thanks!

[2021-05-04 09:51] tw0517tw opened #846 "Website looks blurry on Windows Firefox"
**Describe the bug**
The website looks blurry. Screenshots below.

**To Reproduce**
Steps to reproduce the behavior:

Use Firefox 89.0b7 (I'm on beta channel), open https://www.graphql-scalars.dev/docs/introduction/ or https://www.graphql-scalars.dev/
It looks good if I use Chrome instead.

**Expected behavior**

It should look clear

**Environment:**

- OS: Windows 10 20H2
- Firefox: 89.0b7

**Ad

[2021-05-04 12:31] ardatan commented on #846
I don't have that issue on my Windows environment
![image](https://user-images.githubusercontent.com/20847995/117003605-0e103a00-acb3-11eb-8e3d-91553a96912e.png)
Maybe it is an issue on Firefox's beta version.

[2021-05-07 22:41] Abdipour opened #854 "Duration Type Definition not exported"
**Describe the bug**
Hi,
I want to import individual scalars and resolvers but can't find "DurationTypeDefinition". Why it isn't exported?

**Environment:**

- OS: Windows 10
- GraphQL Scalars Version: 1.9.3
- NodeJS: 14.16

[2021-05-24 10:40] LucienLee opened #870 "Empty string is an invalid URL"
**Describe the bug**
Pass empty string is legal in the current URL scalar. However, according to https://www.ietf.org/rfc/rfc3986.txt, it should not be empty.

I wonder that it's expected that URL scalar accepts `''`.  If it's not what we expected, I can make PR

**Expected behavior**
Throw error when passing empty string to URL scalar

[2021-05-24 23:13] ardatan commented on #870
We'd love to accept a PR to fix this :)

[2021-05-24 23:38] ardatan commented on #846
Closing this issue for now. Let us know if it persists.

[2021-05-24 23:38] #846 closed

[2021-06-08 16:55] b2k opened #902 "Add API Use Case examples"
**Is your feature request related to a problem? Please describe.**
The API Documentation lacks use-case examples for each of the Scalar Types.

For example, the DateTime scalar states that values are shifted to UTC. I'm assuming this means that a round-trip of a DateTime value would lose the original timezone offset. The implications of this shift is unclear in the documentation.

A scalar type th

[2021-06-08 17:08] ardatan commented on #902
- As described in the documentation, `DateTime` scalar sticks with UTC. This seems exist in the documentation
![image](https://user-images.githubusercontent.com/20847995/121227512-a6bd4b00-c859-11eb-99d9-7b05dcf8375f.png)

Also tests can give some idea;
https://github.com/Urigo/graphql-scalars/blob/master/tests/iso-date/DateTime.test.ts

- Currency scalar follows ISO-4217 as described in the websi

[2021-06-08 17:08] #870 closed

[2021-06-08 20:16] b2k commented on #902
This reinforces my point. I clearly had already read the documentation on DateTime and Duration.

Regarding the Duration type, I've been able to decipher the documentation, and I'm left wondering why a simple example is lacking. `P1W1DT13H23M34S = 1 week, 1 day, 13 hours, 23 minutes and 34 seconds.`. The description for it does not make this clear.

I will consider adding a few PRs once I become m

[2021-06-09 11:25] ardatan commented on #681
We have ESM support since 1.10.0!

[2021-06-09 11:25] #681 closed

[2021-06-13 16:27] Urigo commented on #902
@b2k thanks for the feedback, we would love to see PRs for the docs and iterate together with you on them!

[2021-06-14 15:03] Sytten opened #911 "Missing releases"
Just want to report that releases are missing for 1.9.3 and 1.10.0, so we don't have a changelog in renovate/dependabot updates.

[2021-06-18 12:07] tobiasdiez commented on #419
It would be nice if the corresponding typescript type is also added in the documentation in the subpage for each scalar type.

[2021-06-21 08:10] Jiia opened #921 "Dangerous and incorrect int and float validation and parsing"
The int and float validation made by this library are not working correctly. They not only fail to validate the input values but they also incorrectly parse and modify the input values.

https://github.com/Urigo/graphql-scalars/blob/master/src/scalars/utilities.ts#L100

For example if your field is of type `float` and your input value is eg string `0,8` what would you expect to happen?

You probab

[2021-06-21 08:55] ardatan commented on #921
The scenario and your request are different. We can solve that issue by comparing the final coerced value with the input value but this is completely unrelated to removing the parsing stuff.

[2021-06-21 18:21] electerious opened #924 "UnsignedInt missing in docs"
I'm using `UnsignedInt` from `graphql-scalars`, but I can't find it in the docs on the website. I know it's just an alias, but it would be good to at least mention it somewhere. I remember that there was an information in the readme before everything moved to a website.

[2021-06-24 00:44] JinW-Airwallex opened #929 "DateTime cannot represent an invalid date-time-string"
**Describe the bug**
Based on https://github.com/Urigo/graphql-scalars/issues/395, DateTimeResolver should be able to accept 2021-06-23T05:50:47.918+0000. But it appears the latest version will complain that the string is invalid.

**To Reproduce**
Steps to reproduce the behavior:

require('graphql')
const { DateTimeResolver } = require('graphql-scalars')
DateTimeResolver.parseValue('2021-06-23T05

[2021-07-02 08:55] aaronadamsCA commented on #911
Just to save others the time, here's the key change in v1.10:

https://github.com/Urigo/graphql-scalars/commit/f8f47b85b77b7a7a6cdc05a87458a59befd317d6

[2021-07-08 20:45] tubbo opened #953 "Using Type Definitions with GraphQL Code Generator"
**Is your feature request related to a problem? Please describe.**

In order to use this library alongside GraphQL Code Generator (with GraphQL Config), we had to write a script that extracted the type definitions and converted them into an executable schema:

[code]

This works, but it took a while to figure out that this is what I needed to do. It might be difficult for newer folks to use this l

[2021-07-20 16:03] robross0606 commented on #921
I touched on this with #479 but was told it doesn't exist. lt does.

[2021-07-22 16:50] tubbo commented on #429
@ardatan Not sure if this was always the case, but the `mongodb` package [imports its ObjectID type from `bson`](https://github.com/mongodb/node-mongodb-native/blob/4.0/src/index.ts#L24). This would theoretically allow a library such as this one to import that object without needing to import the entire `mongodb` library, which I would also agree is not feasible for front-end projects using this p

[2021-07-23 22:53] mmahalwy commented on #64
maybe there could be an option to mutate? :)

[2021-08-03 23:06] blacksrc opened #991 "Iran postalCode format in scalars"
Add the proper regex check for Iran `postalCode` format in scalars.
It should contain only the digits below with the string length of `10`.
[code]

[2021-08-04 03:11] fjcamillo opened #993 "[ Website ] Banner seems to be small and jumpy"
**Describe the bug**
Weird bug report I guess,
Website banner's right part was jumpy, saw that website code is here as well, so decided to add it as an issue

**To Reproduce**
Go to https://www.graphql-scalars.dev/

**Environment:**
Browser: Chrome

**Additional context**

![Screen Shot 2021-08-04 at 11 06 40 AM](https://user-images.githubusercontent.com/12166244/128116003-323c3045-60ac-4fb9-ab5b-

[2021-08-16 22:37] claraberendsen commented on #953
I encountered the same issue here, and was able to resolve it similarly. However I  also have a problem with mapping the correct TS type in the graphql code generator config. Now all the auto generated types on these scalars are type `any` in TS, and I think we are missing type-safety by doing that.

[2021-08-16 22:47] ardatan commented on #953
To import scalars definitions explicitly. You can just do manually;
[code]

Other than that, you should configure types for scalars in GraphQL Code Generator. This seems out of scope for this library.
See https://github.com/dotansimha/graphql-code-generator/issues/1532

[2021-08-16 22:47] #953 closed

[2021-08-19 12:46] tandrewnichols opened #1023 "The EmailAddress config is named wrong"
**Describe the bug**
The EmailAddress config uses GraphQLCurrencyConfig (probably copied from the Currency scalar) instead of GraphQLEmailAddressConfig.

I have a fix for this, but the PR template says to open an issue first, so here we are.

**To Reproduce**
Open src/scalars/EmailAddress.ts and observe the config export name.

**Expected behavior**
The name matches the actual type.

**Environment

[2021-08-25 04:54] renovate[bot] opened #1032 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-09-01 20:44] notrab commented on #1023
Was just about to PR this too! Covering it in a video. @Urigo would you merge a PR that fixes this?

[2021-09-06 09:53] ardatan commented on #1023
It was merged already;
https://github.com/Urigo/graphql-scalars/commit/1a189fe0d9a3f3008d533b97c679e80697870b77
And I jsut released it v1.10.1!

[2021-09-06 09:53] #1023 closed

[2021-09-20 04:58] bombillazo opened #1064 "Schema error when using same type from different type sources"
**Describe the bug**
Building a schema where a scalar type was imported via SDL and the same scalar was used to create a GraphQL.js Object Type will fail. For example, using the `DateTime` scalar would fail with the following error:
[code]
Doing some debugging, when GraphQL builds the list of types in the `collectReferencedTypes` function, it is adding both `DateTime` types into the schema typeSet

[2021-09-20 18:29] Sytten opened #1065 "Add timezone scalar"
**Is your feature request related to a problem? Please describe.**

Currently the libs has scalars to deal with datetime with timezone and time. But it would be nice to handle the timezone string itself like https://github.com/homoky/graphql-timezone.

**Describe the solution you'd like**
Something similar to the library linked above, basically extract the moment timezone in a list and create a sc

[2021-09-20 19:32] ardatan commented on #1065
Sounds cool! Would you create a PR for this?

[2021-09-29 17:26] justdvl commented on #929
Until this is fixed, a workaround solution that works for me is sending just YYYY-MM-DD ("2021-09-01") from FE to Server.

[2021-10-05 11:49] bigman73 opened #1068 "RegularExpressionOptions and RegularExpressionErrorMessageFn are not exposed"
**Describe the bug**
The type and interface used for regular expression factory are not exposed on the top level of the package

RegularExpressionErrorMessageFn, RegularExpressionOptions

[2021-10-05 15:18] ardatan commented on #1068
Available in 1.11.0!
Thank you @bigman73 for the PR :)

[2021-10-05 15:18] #1068 closed

[2021-10-06 18:04] mgiamberardino opened #1088 "Byte validation fails when it's a base64 encoded string containing '/'"
**Describe the bug**
When using graphql-mesh and having a Byte type in the schemas request is failing because a base64 string validation even when base64 string is valid.

Already debugged the issue and it's happening when the encoded string contains an `/` which is a valid base64 character.

**To Reproduce**
Steps to reproduce the behavior:

Test to reproduce:
[code]

**Expected behavior**
Valida

[2021-10-06 18:36] ardatan commented on #1088
Available in v1.11.1

[2021-10-06 18:36] #1088 closed, assigned to nobody

[2021-10-20 05:20] AhmadSinaSaeedi opened #1121 "Scalar type for checking bank Routing Number, Account Number & Check Number"
I need a scalar type for checking bank Routing Number, Account Number & Check Number.

For see how is it check below link:
     https://www.homestreet.com/personal/banking/routing-account-numbers

[2021-10-31 08:22] takashimamorino opened #1168 "Add DID scalar"
**Is your feature request related to a problem? Please describe.**
I'm developing a product that deals with DID. I'm developing a product that handles did, and I'd like to use this in that product.

**Describe the solution you'd like**
I'd like to add something compliant with the spec.
see: https://www.w3.org/TR/2021/PR-did-core-20210803/#did-syntax

[2021-10-31 10:35] ardatan commented on #1168
We'd love to accept a PR for this new scalar!

[2021-11-02 13:24] syl-oh opened #1177 "Add Locale Scalar"
**Is your feature request related to a problem? Please describe.**

Add a new scalar for Locale (Standard locale format, as specified in [IETF BCP 47](https://www.rfc-editor.org/info/bcp47)).
The Locale is usually use to set one user's preferred language / region when working with multilingual interface.

**Describe the solution you'd like**
Implement the new custom scalar following [RFC5646](http

[2021-11-02 13:37] ardatan commented on #1177
Sounds cool! We'd love to accept a PR if someone wants to implement it!

[2021-11-02 14:49] ardatan commented on #1168
Available in v1.13.0 ! Thanks

[2021-11-02 14:49] #1168 closed

[2021-11-02 16:39] syl-oh commented on #1177
I have opened a new PR @ardatan with the new locale scalar. #1179

[2021-11-04 13:42] nunovieira220 opened #1190 "Improve phone number minimum length validation"
**Describe the bug**
At the moment the phone number regex validates phone numbers with just one digit. Assuming the Niue 7 digits use case is the minimum possible, the regex should be strict on accepting less digits than that.

**Expected behaviour**
A similar error as returned when the phone number has more than 15 digits.

**Environment:**

Not relevant

[2021-11-05 10:09] AhmedBHameed opened #1192 "EmailAddress throws error with code `INTERNAL_SERVER_ERROR`"
**Describe the bug**
I used the scalar for email address. If user pass invalid email graphql throws error. The code of the error is `INTERNAL_SERVER_ERROR` which make no sense when the data is invalid.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
I believe the error code should be `BAD_USER_INPUT` instead of `INTERNAL_SERVER_ERROR`.

**Environment:**

- OS: Lin

[2021-11-05 10:15] ardatan commented on #1192
Could you share a reproduction on CodeSandbox because GraphQL scalars have nothing to do with server implementation actually?

[2021-11-05 11:09] AhmedBHameed commented on #1192
@ardatan

Maybe wasn't so clear. I mean by "our implementation" is the hi end implementation which is my side basically (Hi end script).

However, this is a minimum reproducing here

https://codesandbox.io/s/stupefied-mahavira-fe1mr?file=/src/index.js

[2021-11-05 15:01] tobiasdiez opened #1195 "Typescript problems in recent versions in older GraphQL js versions"
**Describe the bug**

There doesn't seem to be any typescript information in the recent versions.
In fact, after an `import { DateTimeResolver, EmailAddressResolver } from 'graphql-scalars'` both objects have the type `any`.

**To Reproduce**
Steps to reproduce the behavior: Upgrade from 1.12.0 to 1.13.1

https://github.com/JabRef/JabRefOnline/pull/604

**Expected behavior**

Provide typescript in

[2021-11-08 11:19] AhmedBHameed commented on #1192
Updating `package.json` dependencies resolve the issue.
GREAT!!!!

[2021-11-08 11:19] #1192 closed

[2021-11-12 09:53] jcpage commented on #1195
Can confirm, when I updated from 1.12.0 to 1.13.1 I get about 100 errors similar to this:

node_modules/graphql-scalars/index.d.ts:9:11 - error TS2315: Type 'GraphQLScalarType' is not generic.
9     Date: import("graphql").GraphQLScalarType<Date, string>;

[2021-11-14 12:18] ardatan commented on #1195
Hmm we are using GraphQL js v16 for TS build. I think you are using the older version of GraphQL js that doesn't have generics in GraphQLScalarType.
Actually we don't explicitly use generics in GrphQLScalarType calls but the configuration object GraphQLScalarTypeConfig which has generics since v14. During TS Build, I think scalar types get inferred GraphQLScalarTypeConfig.
Adding type annotations

[2021-11-14 18:02] jcpage commented on #1195
Hmm, I am using a pretty recent version of graphql js, 15.7.2.   16 was released less than 3 weeks ago so I'm sure many people still want to stick with 15.X for a while.

[2021-11-14 18:52] ardatan commented on #1195
I didn't say we should avoid it. I just explained the source of the problem.

[2021-11-15 11:15] ardatan commented on #1195
1.13.2 should be ok with <v16

[2021-11-15 16:23] tobiasdiez commented on #1195
It is indeed fixed now, thanks!

[2021-11-15 16:23] #1195 closed

[2021-11-15 18:44] shaunpersad commented on #929
Any update on this issue? The `+0000` suffix is fairly common in the wild, and it makes the `DateTime` scalar a liability to use. We had to define our own scalar instead.

[2021-11-15 19:04] ardatan commented on #929
@shaunpersad Is it valid for the spec we follow?

[2021-11-15 19:29] shaunpersad commented on #929
It should be, as the `Z` suffix is equivalent to a `0` offset, which could be represented as `+0000`, `+00:00`, etc. according to the ISO-8601 spec. Unfortunately I cannot view the full spec without purchasing it, but the wikipedia on it does say:
[code]

[2021-11-15 19:53] jcpage commented on #1195
Hmm, I am still getting "Type 'GraphQLScalarType' is not generic" errors - though I am only getting about half as many as before.  It looks like any errors in ./scalars/<TYPE>.d.ts went away, so only the ones in ./index..d.ts remain.   I'm attaching the diff of the old vs new errors.  Let me know if there is anything else I can provide that might be helpful.

[errors.txt](https://github.com/Urigo/

[2021-11-15 20:02] ardatan commented on #1195
Could you create a reproduction on CodeSandbox? Thanks

[2021-11-15 22:06] jcpage commented on #1195
Ok, this repro's it: https://codesandbox.io/s/scalars-example-9svtj

Can just run "yarn build" in a prompt to see it.

Simplifying it down to the minimum made me realize it's related to using graphql nexus's "asNexusMethod" on a type from graphql-scalars.

[2021-11-15 22:47] ardatan commented on #1195
I think it is good with the latest version now;
https://codesandbox.io/s/scalars-example-forked-8bcr3?file=/package.json

[2021-11-15 23:20] jcpage commented on #1195
Can confirm that fixed my issue, thanks!

[2021-11-16 19:43] syl-oh commented on #1177
Can't be added because it requires an external dependency.

[2021-11-16 19:43] #1177 closed

[2021-12-01 23:47] jlowcs opened #1275 "String versions of date scalars"
**Is your feature request related to a problem? Please describe.**

As the available data scalars implementations serialize dates to Date objects, when using Apollo we end up with a [difference of behavior between server-side and client-side](https://github.com/Urigo/graphql-scalars/discussions/957), the former serializing to Date objects, while the latter leaves them as ISO strings.

Even without

[2021-12-04 14:09] annymosse commented on #248
sorry i took a long time since i accessed my Github account (i have migrated since it acquired by MS evils), for this feature we had an experiment inside the company where i was working in by using GraphQl as FTP uploading/downloading files using GQL instead RESTful API and not using static file servers such as NGINX ,later on we had realized GQL it's not performed for binary files, so we end up m

[2021-12-04 14:16] annymosse commented on #248
@dzcpy you're right if it will replay with base64 we need to set it as `String` type, and No GraphQL not supposed to recieve binaries ,but my case request this feature.

[2021-12-04 14:16] #248 closed

[2021-12-09 23:46] shaunpersad commented on #929
Is there any more information I can provide to help?

[2021-12-13 04:45] tvvignesh commented on #929
@ardatan Hi. You can assign this to me, I will have a look.

[2021-12-14 07:43] tvvignesh commented on #929
I had a look at this issue. Currently `graphql-scalars` adopts `RFC 3339` spec of DateTime as mentioned here: https://github.com/Urigo/graphql-scalars/blob/master/website/docs/scalars/date-time.md

As per the spec, this should be the format:
![image](https://user-images.githubusercontent.com/1165845/145953413-d8bde415-fc76-414a-ab3b-61592b912ee6.png)

So, `2021-06-23T05:50:47.918+00:00` is valid s

[2021-12-14 07:45] #929 closed

[2021-12-18 07:00] pukuba opened #1323 "Add CountryCode scalar"
There's no scalar type to check the country code.

eg) US, CN, GN

Therefore, may I add the country code scalar based on [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) ?

[2021-12-18 11:37] ardatan commented on #1323
Sure we'd love to accept your PR :)

[2021-12-25 05:45] 12sam12 opened #1337 "Mongoose queries with filtering fields of type emailaddress fails"
**Describe the bug**
Mongoose queries with filtering using fields of type graphql scalar emailaddress fails

**To Reproduce**
Steps to reproduce the behavior:
lets assume emailid field in the schema was designed with type of graphql-scalar emailaddress. But if I filter it through some other string it works.
await User.findOne({
    'emailid': 'somethingvalid@email.com'
});
Above async call's promi

[2021-12-25 10:18] ardatan commented on #1337
Could you share a reproduction? I don't think I fully understand the issue.

[2021-12-25 11:00] 12sam12 commented on #1337
const {emailid, password} = creds;
    const allUsers = await User.find({});
    console.log(allUsers);   // This statement prints all users added
    const userRes = await User.findOne({
        'emailid': emailid
    });   // after this statement userRes is null

![image](https://user-images.githubusercontent.com/13358855/147383542-191eb939-6536-40de-89e9-3b7f846d363b.png)

![image](https://user

[2021-12-25 11:19] ardatan commented on #1337
I'm not sure I still understand the issue. Could you share a clear minimal reproduction on CodeSandbox or in a repo please?
Thanks.

[2021-12-25 11:21] 12sam12 commented on #1337
I have updated the code above just now, pls look into it.

[2021-12-25 11:23] ardatan commented on #1337
Sorry that is not helpful. Please share a reproduction repo as I already said above.

[2021-12-25 11:25] 12sam12 commented on #1337
Seriously arent you able to get some idea currently? The DB has a document matching those query filters, but still null is being returned. Why is that so?

[2021-12-25 11:51] ardatan commented on #1337
I am sorry I am not. I don't understand the relationship between your db query and GraphQL scalar. Again I need to ask a clear reproduction repository or a piece of **real** code that reproduces the issue.

[2021-12-25 12:01] 12sam12 commented on #1337
I have updated the schema design as well. Sorry. I have too many files that cant be shared in a repo right now.

[2021-12-25 12:03] ardatan commented on #1337
We don't need your entire project. We just need a **minimal** version that reproduces the issue.

[2021-12-25 12:54] 12sam12 commented on #1337
Ya I understand. I have changed this snippet into the following using dummyids that have a schema of string:

    const {emailid: emailidParam, password: pwd} = creds;
    let [token, error] = Array(2).fill(null);
    console.log(`<---------  reaching getJwtToken   ----------> 2.2  emailidParam : ${emailidParam}  pwd : ${pwd}`);
    const allUsers = await User.find({});
    console.log('Printing a

[2021-12-25 15:03] 12sam12 commented on #1337
I actually found this issue itself too weird. So only I got quite confused. I resolved it myself. It was some kindof a typo that I found. So closing it now.

[2021-12-25 15:04] #1337 closed

[2021-12-25 21:05] christopher-caldwell opened #1338 "Add an example not using Apollo server"
## Is your feature request related to a problem? Please describe.
I cannot get the scalars to run without using Apollo server. I want to use the vanilla `graphql` core package, as Apollo bloats the Lambda bundle by 1mb.

I have followed the provided steps, but GraphQL just calls `.toString()` on the scalar values rather than running the actual scalar.

## Describe the solution you'd like

A guide

[2021-12-25 21:40] christopher-caldwell commented on #1338
I found [this issue](https://github.com/graphql/graphql-js/issues/497#issuecomment-1001074079) which solved this particular problem. It's not an issue with this library at all, but perhaps an example could still be made. I can do a PR if you'd be open to it.

Closing as this isn't an issue with this library.

[2021-12-25 21:40] #1338 closed

[2021-12-26 00:17] Urigo commented on #1338
@christopher-caldwell we would love to get an example from you!

[2021-12-26 16:26] pukuba commented on #1323
I have opened a new PR @ardatan with the new CountryCode scalar. #1326

[2021-12-27 00:52] christopher-caldwell commented on #1338
@Urigo Great! I'll comment on this when I have a PR

[2022-01-01 13:39] glen-84 commented on #911
@ardatan Why are there no tags or release notes since v1.10.0?

[2022-01-06 13:54] dthyresson opened #1363 "docs: Document options for presenting validation error messages with the envelop Masked Error plugin"
When implementing the ability add GraphQL Scalars to a RedwoodJS applications GraphQL schema (see: https://github.com/redwoodjs/redwood/pull/4053) I found that the error message provided when a scalar fails validation is a TypeError wrapped as the original error of the GraphQL error when using the [envelop](https://github.com/dotansimha/envelop/blob/main/packages/core/src/plugins/use-masked-errors

[2022-01-17 23:53] dburles commented on #90
Why is the package bundled? Don't bundle it and allow consumers to deep import the parts they need. That way we're not needlessly loading 3000+ lines of source code into memory just for the sake of a single scalar.

[2022-01-17 23:57] ardatan commented on #90
All scalars are treeshakable. You can use a bundler like `webpack` if the bundle size is important for you.
We're still open for PRs for more :)

[2022-01-18 00:17] dburles commented on #90
Of course, but the other benefit is that consumers won't be required to bundle and tree-shake.

[2022-01-18 03:43] #1323 closed

[2022-01-31 07:18] vladshcherbin commented on #911
It's very hard to track changes and version of files.
Releases latest version is `1.10.0`, package.json `1.14.0` and npm `1.14.1` 🤯

[2022-02-02 23:27] fierysolid commented on #929
If anyone finds this issue and they don't use dates with the colon, you can go add a `?` directly behind the last colon in the  `RFC_3339_REGEX` regex in `validateDateTime` and directly behind the last colon in the `TIME_REGEX` regex in `validateTime` for both **index.js** and **index.mjs**, then use [patch-package](https://github.com/ds300/patch-package) to solidify it. Doesn't seem like they're

[2022-02-06 21:15] glensc opened #1429 "Docs: export type Scalars generation"
**Is your feature request related to a problem? Please describe.**

On the quickstart page:
- https://www.graphql-scalars.dev/docs/quick-start

I could not find anything to change typescript typing of the scalars:

[code]

I would like to change tye `any` to something else `string` for example or your types.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Addi

[2022-02-06 21:16] glensc commented on #1429
Could not explain better, but i think the PR explains it better what I had in mind:
- https://github.com/Urigo/graphql-scalars/pull/1430/files

[2022-02-06 22:05] ardatan commented on #1429
I think this is something part of GraphQL Code Generator not GraphQL Scalars.

[2022-02-08 17:50] flesler commented on #1323
This scalar is documented as available on https://www.graphql-scalars.dev/docs/scalars/country-code
Yet it's not available even in the latest NPM release `1.14.1`. It's a bit confusing, I ended up using a `RegularExpression` as a temporary placeholder

[2022-02-10 09:29] dhavalsoni9989 opened #1441 "Country Code type not available with NPM package"
**Describe the bug**

I am using graphql-scalars npm package for my project and did not get Country Code type below pr is already merged.

PR: https://github.com/Urigo/graphql-scalars/pull/1326

can you please deploy the latest release with country code ?

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**

**Environment:**

- OS:
- GraphQL Scalars Version:
- NodeJS:

**Addit

[2022-02-18 04:09] AntoineC-dev opened #1462 "EmailAddress doesnt complain with "email@exemple""
**Describe the bug**
The EmailAddress type validates strings like "email@exemple" with no ".com" or whatever

**Expected behavior**
Should return some error when their is not a "." after the "@"

**environement**
Implemented in a nexus/graphql environment like so:

TYPE:
[code]

MUTATION:
[code]

- OS: Windows 10
- GraphQL Scalars Version: 1.14.1
- NodeJS: 17.3.0

[2022-02-18 05:00] ardatan commented on #1462
It is a valid email according to the spec we follow;
https://www.w3.org/Protocols/rfc822/

If this scalar doesn't work for you, you can create your own with `RegularExpression` scalar factory.

[2022-02-18 05:00] #1462 closed

[2022-03-07 20:11] unlight opened #1496 "BigInt incorrect output / serialization"
**Describe the bug**
Incorrect output / serialization because of `BigInt.prototype.toJSON as Number(this)`

**To Reproduce**
[code]

**Expected behavior**
"112345667891012345"
1. Remove BigInt.prototype.toJSON (to force user implement it explicitly)
2. or use toString() https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt#use_within_json

**Environment:**

- OS:

[2022-03-07 21:10] ardatan commented on #1496
I'm sorry I don't understand what's the issue here?

[2022-03-08 10:26] unlight commented on #1496
The issue that `BigInt.prototype.toJSON` return bigint as number which lead to data loss.

[2022-03-19 06:32] mkossoris commented on #1065
I can take a look into doing this since there's been no recent activity on this issue. Thoughts @ardatan?

[2022-03-19 09:04] ardatan commented on #1065
Sure @mkossoris :)

[2022-03-19 20:40] ZiiMakc opened #1514 "UUID scalar accepts uuid value wrapped in `{}`"
**Describe the bug**
UUID scalar accepts: `{06236013-70de-7000-a9f7-84a2259e653d}` - uuid wrapped in `{}`. Maybe there a reason for that?

**To Reproduce**
From this [code](https://github.com/Urigo/graphql-scalars/blob/728827f133d6448d6e032231df6db06af8e92414/src/scalars/UUID.ts) we can see that validation function removes `{}`:
[code]

**Expected behavior**
UUID wrapped in `{}` should not be acce

[2022-03-19 22:44] Sytten commented on #1065
If that is relevant, here is what we do:
[code]

[2022-03-19 22:57] mkossoris commented on #1065
@Sytten Awesome thanks for the some starter code! I was actually planning to use the built-in `Intl` API, and it looks like that's what both `[luxon](https://moment.github.io/luxon/#/zones?id=iana-support)` and `[day.js](https://day.js.org/docs/en/timezone/timezone)` use under the hood, so I will likely just do that to remove any need for dependencies.

[2022-03-22 17:05] tomasstrejcek opened #1522 "Can't build project, typescript fails, wrongly defined dependencies on ts/graphqljs/other libs?"
There is possibly bug in dependencis if I can install this and then if fails during compilation, right?

v1.14.1 build fine, but i can't seem to find any changelog or something to find out what are the upgrade steps, reasons for BC in minor version etc :(

example errors:
node_modules/graphql-scalars/scalars/AccountNumber.d.ts:3:44 - error TS2315: Type 'GraphQLScalarType' is not generic.

3 export

[2022-03-22 20:57] mkossoris commented on #1065
I went ahead and created a PR for this which should be in this thread. @Sytten if you wouldn't mind checking it out to ensure it does what you expect it should do, that would be great!

[2022-03-23 06:17] dannysofftie opened #1524 "Date validation fails"
**Describe the bug**
The date validator seems to not accept dates for different locales
[code]
**To Reproduce**
Steps to reproduce the behavior:
Example 1:
[code]

**Expected behavior**
Date generated by JavaScript Date object should validate
**Environment:**

- OS: `Ubuntu 20.04`
- GraphQL Scalars Version: `"graphql-scalars": "^1.15.0"`
- NodeJS: `v16.13.2`

**Additional context**
Both `caLocaleD

[2022-03-23 06:29] ardatan commented on #1524
It should follow RFC standard as defined in here;
https://www.graphql-scalars.dev/docs/scalars/rfc3339.txt
So the format should be YYYY-MM-DD

[2022-03-23 06:29] #1524 closed

[2022-03-23 06:51] ardatan commented on #1522
We don't have any dependency except `tslib`(just a small helper library).
It seems it is just mismatching types for v15. I'll cut a patch release.

[2022-03-23 07:04] ardatan commented on #1496
I'll think about that. In the meanwhile, you can try this package that implements BigInt serialization in `JSON.parse` and `JSON.stringify` correctly.

[2022-03-24 10:29] Miladiir commented on #911
1.16.0 was released to npm, which does not have a changelog or a github release

[2022-03-24 20:34] #1522 closed

[2022-03-24 20:35] ardatan commented on #1522
Fixed in the latest release. Please let us know if it still fails.

[2022-03-25 06:42] StorytellerCZ commented on #1441
I have the 1.15.0 version and it is available there.

[2022-03-25 07:10] dhavalsoni9989 commented on #1441
@StorytellerCZ

Let me try with that version. I think they have deployed the latest version.

[2022-03-26 20:12] mkossoris commented on #1065
@ardatan Looks like @Sytten has given the thumbs up just fyi :)

[2022-03-29 06:34] dhavalsoni9989 commented on #1441
it's working fine with 1.16.0 version

[2022-04-05 05:57] lorensr opened #1555 "Document how to specify schema for Code Generator"
**Is your feature request related to a problem? Please describe.**

When I look at the docs, it's missing schema field:

https://www.graphql-scalars.dev/docs/quick-start#graphql-code-generator-integration

When I try just:

[code]

where `schema.graphql` references eg `PositiveInt`, I get:

[code]

**Describe the solution you'd like**

Document what to do. Available formats:

https://www.graphql-c

[2022-05-04 22:07] acao commented on #1555
try this:

[code]

also note, if you're using the typescript codegen plugin, you'll also need to map custom scalars to typescript types

[2022-05-17 17:04] Duncan3142 opened #1602 "Add `"types"` entries to the `"exports"` property of `package.json`, to allow consumption from Typescript with the new `Node16` module resolution strategy"
**Is your feature request related to a problem? Please describe.**

I'm unable to consume `"graphql-scalars"` from Typescript 4.7, when module resolution is set to `Node16`

**Describe the solution you'd like**

Add `"types"` entries to the `"exports"` property of package.json

**Describe alternatives you've considered**

None

**Additional context**

The following would suffice

[code]

[2022-06-04 15:18] chaiwa-berian opened #1620 "Apollo Server usage example is not correct for adding resolvers and typeDefs to schema"
**Describe the bug**
In the Usage with Apollo Server example https://www.graphql-scalars.dev/docs/usage/apollo-server#usage-with-apollo-server-1 it seems the spread operators  for the schema may need to be cleaned up! I struggled a little bit to get it work(might help other beginners). For typedefs, only spread the scalarTypeDefs since the other typeDefs are already a string. And for resolvers, me

[2022-07-12 17:17] strongpauly opened #1644 "Throw a subclass of TypeError"
**Is your feature request related to a problem? Please describe.**

I have a custom error handler that I would like to do something specific when a scalar fails validation.  Currently I have no easy way to tell whether a `TypeError` was generated from scalar validation or from elsewhere in the codebase.

**Describe the solution you'd like**
If this library could throw a subclass of TypeError, or i

[2022-07-13 04:45] ardatan commented on #1644
How do you catch the errors of the default scalars because they don't throw`TypeError`?

[2022-07-13 08:49] strongpauly commented on #1644
My current logic (which I admit isn't great) is that is there is no original error in the GraphQLError, then it was a validation error thrown from the scalars, or at the very least a client side problem and not a server side one.

[2022-07-18 12:43] TuvalSimha opened #1646 "Scalars - New website"

[2022-07-20 17:05] bombillazo opened #1649 "NPM <--> GitHub releases different"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-07-27 14:34] B2o5T commented on #1646
closed as completed https://github.com/Urigo/graphql-scalars/pull/1648

[2022-07-27 14:34] #1646 closed

[2022-08-02 16:27] tjmgregory opened #1657 "Incorrect Date Scalar codegen types"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [x] 4. A pull request is pending

[2022-08-03 08:37] tjmgregory commented on #1657
See comment on PR

[2022-08-03 08:37] #1657 closed

[2022-08-07 15:30] CemYil03 opened #1660 "Date Validation"
GraphQL Date seems to have a problem with the date 0001-01-01.
I encountered this problem by validating against a response of Microsoft's GraphAPI.
This was the date set for the end of a never ending event series.

[2022-08-08 08:48] CemYil03 commented on #1660
I opened a Pull Request to fix it myself. Would be great if someone could review it :)

#1662

[2022-08-08 16:26] CemYil03 commented on #1660
Yes it just occurres for 01-01-01

[2022-08-08 16:26] #1660 closed

[2022-08-08 23:31] ardatan commented on #1514
Please share  a reproduction on CodeSandbox or StackBlitz. Thanks

[2022-08-09 11:28] ZiiMakc commented on #1514
@ardatan https://github.com/Urigo/graphql-scalars/blob/master/src/scalars/UUID.ts#L9

[2022-08-09 12:53] TuvalSimha opened #1665 "Add more information to any Scalar page"

[2022-08-09 12:54] TuvalSimha opened #1666 "Add more information to Usage with Apollo Server page"

[2022-08-10 16:27] #756 closed

[2022-08-25 15:49] hdaws opened #1696 "JSON and JSONObject have null prototype"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-08-25 15:50] hdaws commented on #1696
I realize this is probably from the fact the graphql-json-type package is adapted here and the original package does this. I'm not sure that package is maintained any longer and feel like this should be fixed in a package that is maintained.

[2022-08-25 15:51] hdaws commented on #1696
line 19 of https://github.com/Urigo/graphql-scalars/blob/master/src/scalars/json/utils.ts is where this is done, although other types do not appear to use this convention.

[2022-08-25 15:53] ardatan commented on #1696
Would you create a failing test on the repo or at least a reproduction on CodeSandbox or StackBlitz that shows the problem?

[2022-08-28 01:30] jbendes opened #1701 "Semantic Versions"
Has anyone considered adding a semantic version scalar to this library? Love all the scalar options available and think a semantic version scalar as outlined in https://semver.org/ would be great. It essentially just a string with a specific regex describing its validity. Since it's so simple, it's easy to implement in each project you want to use it in, but since it's so widely used, it'd be pret

[2022-09-08 23:27] dyst5422 commented on #414
I find myself back here over a year later reading my own comment. This is still an issue and at this point, I've given up on being able to still have a default value for this scalar.

[2022-09-21 11:21] mammadataei opened #1714 "Add IP scalar"
**Problem:**

As you know, it's not currently possible to union scalars in graphql, so if you have a field which is `IPv4` **or** `IPv6`, you can't use those scalars to describe it.

[code]

**Solution:**

I think it would be great if there were an `IP` scalar that accepts both `IPv4` and `IPv6`.

[code]

And I think it's possible to use existing `IPv4` and `IPv6` scalars functionality for `IP` va

[2022-09-29 18:29] josiah-roberts commented on #1275
+1, would really benefit from this.

[2022-09-29 18:36] ardatan commented on #1714
PRs are welcome!

[2022-09-29 18:37] ardatan commented on #1696
Closing the issue due to the inactivity.

[2022-09-29 18:37] #1696 closed

[2022-09-29 18:37] ardatan commented on #1649
Updated! Thanks for reporting this!

[2022-09-29 18:37] #1649 closed

[2022-09-29 18:40] ardatan commented on #1496
I think it returns `string` if the number is higher than 52-bit.
See https://github.com/Urigo/graphql-scalars/blob/master/src/scalars/BigInt.ts#L78
So if you still have issues with that, please share a reproduction in CodeSandbox or StackBlitz. Thanks.

[2022-09-29 18:40] #1496 closed

[2022-09-29 18:44] ardatan commented on #1514
https://en.wikipedia.org/wiki/Universally_unique_identifier
Microsoft GUIDs have `{}` so the scalar needs to have `{}` in the regexp to support those. See the article above.

[2022-09-29 18:44] #1514 closed

[2022-09-29 18:46] ardatan commented on #662
I think using JSONObject by wrapping it in a list sounds better. Closing this then :)

[2022-09-29 18:46] #662 closed

[2022-09-29 18:47] ardatan commented on #651
This is available in the latest release! Thanks for the idea!

[2022-09-29 18:47] #651 closed

[2022-09-30 09:39] mammadataei commented on #1701
I'll work on this.

[2022-10-15 03:02] xenoterracide opened #1744 "DateScalar throws exception when attempting to serialize Instant"
### Issue workflow progress

_Progress of the issue based on the [Contributor Workflow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow)_

- [ ] 1. The issue provides a reproduction available on GitHub, Stackblitz or CodeSandbox

- [ ] 2. A failing test has been provided
- [ ] 3. A local solution has been provided
- [ ] 4. A pull request is pending

[2022-10-15 03:03] xenoterracide commented on #1744
wrong library, sorry

[2022-10-15 03:03] #1744 closed

[2022-11-13 22:04] wzrdtales opened #1770 "Date parsing fails"
Date cannot represent an invalid date-string 1993-02-12T00:00:00.000Z.

This error gets thrown if a date comes back from a database. This is weird and probably a bug since the scalar itself delivers a javascript date object which is represented exactly this way and it stops complaining if it gets passed in `new Date()` first.

[2022-11-13 22:07] wzrdtales commented on #1770
so it is enough to serialize the date object produced by this scalar and pass it back to a resolver with the same scalar to cause this issue. I don't think this is a wanted behavior.

[2022-11-28 08:43] ardatan opened #1778 "Documentation Improvements"
All scalars actually need the following structure in the docs;
- The reason and details of the value as in "Duration"
- Spec reference if available as in DateTime
- RegExp if available
- Result coercion if done as in DateTime
- Input Coercion if done as in DateTime
- How it should be typed in TypeScript and shown in JSON